@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

/**************************************************
 * Legacy Combos
**************************************************/
.mfx-legacy-combo-box {
	-fx-min-width: 120;
}

/**************************************************
 * New Combos
**************************************************/
.mfx-combo-box {
	-fx-min-width: 150;
	-fx-font-family: 'Visby Round CF Medium';
}

.mfx-combo-box .floating-text {
	-fx-font-family: 'Visby Round CF Demi Bold';
}

#customNCombo {
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-background-color: -mfx-purple;
	-fx-background-radius: 30;
	-fx-text-fill: white;

	-fx-padding: 3 3 3 6;
	-fx-background-insets: 0 0 0 -3;
}

#customNCombo .floating-text {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#customNCombo .caret .mfx-font-icon {
	-mfx-color: white;
}

#customNCombo .caret .mfx-ripple-generator {
	-mfx-ripple-color: rgba(255, 255, 255, 0.5);
}

#customNCombo2 {
	-fx-border-color: transparent transparent gray transparent;
	-fx-border-radius: 0;
	-fx-padding: 3 -3 0 3;
}

#customNCombo2:focused {
	-fx-border-color: transparent transparent -common-gradient transparent;
}

#customNCombo2:focused .caret .mfx-font-icon {
	-mfx-color: #ff5d53;
}

#customNCombo2 .virtual-flow {
	-track-color: derive(#ff5d53, 90%);
    -thumb-color: derive(#ff5d53, 50%);
    -thumb-hover-color: derive(#ff5d53, 25%);
}

#customNCombo2 .virtual-flow .mfx-combo-box-cell:hover {
	-fx-background-color: derive(#ff5d53, 90%);
}

/**************************************************
 * Filter Combos
**************************************************/
#customFilter {
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-background-color: #007BF6;
	-fx-text-fill: white;

	-fx-padding: 4;
	-fx-background-insets: 0;
}

#customFilter .text-field {
	-fx-prompt-text-fill: white;
}

#customFilter .combo-popup .text-field {
	-fx-prompt-text-fill: -mfx-text-me;
}

#customFilter .caret .mfx-font-icon {
	-mfx-color: #FF794B;
	-mfx-description: "mfx-angle-down";
	-mfx-size: 16;
}

#customFilter .caret .mfx-ripple-generator {
	-mfx-ripple-color: rgba(255, 255, 255, 0.5);
}
