@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

.mfx-list-view .virtual-flow .mfx-list-cell .data-label {
	-fx-font-family: 'Visby Round CF Medium';
}

.mfx-list-view .virtual-flow .mfx-list-cell:selected .data-label {
	-fx-font-family: 'Visby Round CF Demi Bold';
}

.mfx-check-list-view .virtual-flow .mfx-check-list-cell .data-label {
	-fx-font-family: 'Visby Round CF Medium';
}

.mfx-check-list-view .virtual-flow .mfx-check-list-cell:selected .data-label {
	-fx-font-family: 'Visby Round CF Demi Bold';
}

#custList {
	-fx-background-color: -mfx-purple;
	-fx-background-radius: 10;
	-fx-border-color: -mfx-purple;
	-fx-border-radius: 10;
	-fx-padding: 4;
}

#custList .virtual-flow {
	-fx-background-color: transparent;
}

#custList:focused {
	-fx-border-color: -mfx-purple;
}

#custList .virtual-flow .mfx-list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}

#custList .virtual-flow .mfx-list-cell .data-label {
	-fx-text-fill: white;
}

#custList .virtual-flow .mfx-list-cell .user-icon {
	-mfx-color: white;
}

#custList .virtual-flow .mfx-list-cell:hover,
#custList .virtual-flow .mfx-list-cell:selected {
	-fx-background-color: rgba(255, 255, 255, 0.3);
}

#custList .virtual-flow .mfx-list-cell .mfx-ripple-generator {
	-mfx-auto-clip: true;
}

#custList .virtual-flow .mfx-list-cell:selected .mfx-ripple-generator {
	-mfx-paused: true;
}

.mfx-button {
	-fx-background-color: -mfx-purple;
	-fx-border-color: -mfx-purple;
	-fx-border-radius: 3;
	-fx-text-fill: white;
	-fx-font-family: 'Visby Round CF Demi Bold';
	-fx-font-size: 14;
}