.label {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.label .text {
    -fx-font-family: "Open Sans";
    -fx-font-size: 12;
    -fx-fill: black;
}