@import "MFXColors.css";

#customSlider .track {
    -fx-fill: linear-gradient(to bottom right, #6A6AF8 0%, #C850C0 30%, darkorange 100%);
}

#customSlider .bar {
    -fx-fill: linear-gradient(to bottom right, #F4D03F 0%, #10d7b4 100%);
}

#customSlider:min .thumb,
#customSlider:min .track {
    -mfx-color: -mfx-red;
    -fx-fill: derive(-mfx-red, 85%)
}

#customSlider:val .thumb,
#customSlider:val .track {
    -mfx-color: -mfx-blue;
    -fx-fill: derive(-mfx-blue, 85%)
}

#customSlider:val .bar {
    -fx-fill: -mfx-blue;
}

#customSlider:max .bar,
#customSlider:max .thumb {
    -mfx-color: -mfx-green;
    -fx-fill: -mfx-green;
}