@import '../fonts/Fonts.css';
@import 'Common.css';
@import 'MFXColors.css';

#customSlider:range1 .thumb,
#customSlider:range1 .track {
	-mfx-color: -mfx-red;
	-fx-fill: derive(-mfx-red, 85%)
}

#customSlider:range1 .bar {
	-fx-fill: -mfx-red;
}

#customSlider:range2 .thumb,
#customSlider:range2 .track {
	-mfx-color: -mfx-blue;
	-fx-fill: derive(-mfx-blue, 85%)
}

#customSlider:range2 .bar {
	-fx-fill: -mfx-blue;
}

#customSlider:range3 .bar,
#customSlider:range3 .thumb {
	-mfx-color: -mfx-green;
	-fx-fill: -mfx-green;
}

#customSlider:range3 .track {
	-fx-fill: derive(-mfx-green, 85%);
}

#customSlider:range1 .thumb-container:hover .thumb-radius,
#customSlider:range1 .thumb-container:pressed .thumb-radius {
	-mfx-color: derive(-mfx-red, 85%);
	-fx-opacity: 0.5;
}

#customSlider:range2 .thumb-container:hover .thumb-radius,
#customSlider:range2 .thumb-container:pressed .thumb-radius {
	-mfx-color: derive(-mfx-blue, 85%);
	-fx-opacity: 0.5;
}

#customSlider:range3 .thumb-container:hover .thumb-radius,
#customSlider:range3 .thumb-container:pressed .thumb-radius {
	-mfx-color: derive(-mfx-green, 70%);
	-fx-opacity: 0.5;
}

#customSlider:range1 .thumb-container .mfx-ripple-generator {
	-mfx-ripple-color: -mfx-red;
}

#customSlider:range2 .thumb-container .mfx-ripple-generator {
	-mfx-ripple-color: -mfx-blue;
}

#customSlider:range3 .thumb-container .mfx-ripple-generator {
	-mfx-ripple-color: -mfx-green;
}