.mfx-text-field {
    -fx-font-family: "Open Sans Regular";
}

.label {
    -fx-font-family: "Open Sans SemiBold";
}

#colors {
    -fx-prompt-text-fill: #000e8b;
    -fx-text-fill: #000e8b;
    -mfx-unfocused-line-color: #000e8b;
    -mfx-line-color: darkorange;

    -mfx-text-limit: 10;
}

#colors:focused {
    -fx-prompt-text-fill: darkorange;
    -fx-text-fill: darkorange;
}