$variant: 'light' !default;
$palette-prefix: '' !default;
$scheme-prefix: '' !default;
$palette: () !default;
$scheme: () !default;

$elevations: (
  0: 0%,
  1: 5%,
  2: 8%,
  3: 11%,
  4: 12%,
  5: 14%,
) !default;

$state-layers: (
  hover : 8%,
  focus : 10%,
  focused : 10%,
  press : 10%,
  pressed : 10%,
  dragged : 16%,
  disabled : 12%,
  disabled-text: 38%,
) !default;

$shapes: (
  none : 0px,
  extra-small : 4px,
  extra-small-top: 4px 4px 0px 0px,
  small : 8px,
  medium : 12px,
  large : 16px,
  large-end : 0px 16px 16px 0px,
  large-top : 16px 16px 0px 0px,
  extra-large : 28px,
  extra-large-top: 28px 28px 0px 0px,
  full : 100%,
) !default;