@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$bg-default: Theme.GetSchemeColor('primary') !default;
$surface-tint: Theme.GetSchemeColor('on-primary') !default;

$bg-unselected: Theme.GetSchemeColor('surface-container-highest') !default;
$surface-tint-toggle: Theme.GetSchemeColor('primary') !default;

$icon-default: Theme.GetSchemeColor('on-primary') !default;
$icon-unselected: Theme.GetSchemeColor('primary') !default;
$ripple-default: Ripple.Ripple('on-primary') !default;

/****************************************************************************************************
 * Filled IconButtons
 ****************************************************************************************************/
.mfx-icon-button.filled,
.mfx-icon-button.filled:selectable:selected {
  -fx-background-color: $bg-default;
}

.mfx-icon-button.filled > .surface > .bg,
.mfx-icon-button.filled:selectable:selected > .surface > .bg {
  -fx-background-color: $surface-tint;
}

.mfx-icon-button.filled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: $icon-default;
}

.mfx-icon-button.filled > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-default;
}

// Toggle Variant
.mfx-icon-button.filled:selectable {
  -fx-background-color: $bg-unselected;
}

.mfx-icon-button.filled:selectable > .surface > .bg {
  -fx-background-color: $surface-tint-toggle;
}

.mfx-icon-button.filled:selectable > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: $icon-unselected;
}
