@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$bg-default: Theme.GetSchemeColor('inverse-surface') !default;
$surface-tint-default: Theme.GetSchemeColor('inverse-on-surface') !default;

$bg-unselected: transparent !default;
$surface-tint-unselected: Theme.GetSchemeColor('on-surface-variant') !default;

$bd-color-default: transparent !default;
$bd-color-unselected: Theme.GetSchemeColor('outline') !default;
$bd-radius: 100%;

$icon-default: Theme.GetSchemeColor('inverse-on-surface') !default;
$icon-unselected: Theme.GetSchemeColor('on-surface-variant') !default;
$ripple-default: Ripple.Ripple('on-surface-variant') !default;

/****************************************************************************************************
 * Outlined IconButtons
 ****************************************************************************************************/
.mfx-icon-button.outlined {
  -fx-background-color: $bg-unselected;
  -fx-border-color: $bd-color-unselected;
  -fx-border-radius: $bd-radius;
}

.mfx-icon-button.outlined > .surface > .bg {
  -fx-background-color: $surface-tint-unselected;
}

.mfx-icon-button.outlined > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: $icon-unselected;
}

.mfx-icon-button.outlined > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-default;
}

// Toggle Variant
.mfx-icon-button.outlined:selectable:selected {
  -fx-background-color: $bg-default;
  -fx-border-color: $bd-color-default;
}

.mfx-icon-button.outlined:selectable:selected > .surface > .bg {
  -fx-background-color: $surface-tint-default;
}

.mfx-icon-button.outlined:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: $icon-default;
}