@use '../../tokens/theme' as Theme;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Shared component-level tokens
$bg-color-disabled: rgba(Theme.GetSchemeColor('on-surface'), Theme.GetStateLayer('disabled')) !default;
$bg-radius: 100px;

$icon-size: 24px;
$icon-color-disabled: Theme.GetSchemeColor('on-surface') !default;

$size: 40px;
$padding: 4px;

/****************************************************************************************************
 * IconButtons shared properties
 ****************************************************************************************************/
.mfx-icon-button,
.mfx-icon-button.filled,
.mfx-icon-button.filled-tonal,
.mfx-icon-button.outlined {
  -fx-background-radius: $bg-radius;
  -fx-padding: $padding;
  -mfx-size: $size;

  > .surface > .bg {
    -fx-background-radius: $bg-radius;
  }
}

.mfx-icon-button:disabled,
.mfx-icon-button.filled:disabled,
.mfx-icon-button.filled-tonal:disabled,
.mfx-icon-button.outlined:disabled {
  -fx-background-color: $bg-color-disabled;
}

.mfx-icon-button .mfx-font-icon,
.mfx-icon-button.filled .mfx-font-icon,
.mfx-icon-button.filled-tonal .mfx-font-icon,
.mfx-icon-button.outlined .mfx-font-icon {
  -mfx-size: $icon-size;
}

.mfx-icon-button:disabled .mfx-font-icon,
.mfx-icon-button.filled:disabled .mfx-font-icon,
.mfx-icon-button.filled-tonal:disabled .mfx-font-icon,
.mfx-icon-button.outlined:disabled .mfx-font-icon {
  -fx-opacity: Theme.GetStateLayer('disabled-text');
  -mfx-color: $icon-color-disabled;
}