@use "../../tokens/theme" as Theme;

/****************************************************************************************************
 * Common to all components with a MaterialSurface
 ****************************************************************************************************/
.surface {
  -mfx-hover-opacity: Theme.GetStateLayer('hover');
  -mfx-focus-opacity: Theme.GetStateLayer('focus');
  -mfx-press-opacity: Theme.GetStateLayer('press');
}