@use 'sass:map';
@use 'sass:math';
@use 'theme_utils' as *;
@use '../tokens/tokens' as *;

/// Returns a percentage corresponding to the given elevation value.
/// Valid elevation values go from 0 to 5.
@function get_percent_elevation($level) {
  $cLevel: math.clamp(0, $level, 5);
  @return map.get($elevation, $cLevel);
}

/// Mixes two colors according to the levels described by MD3 guidelines, each level corresponds to a certain percentage.
///
/// @param {color} $color1 this is the color that will be applied on the second, in MD3 this is the surface tint color
/// @param {color} $color2 this is the color that will receive the first on top, in the specified level/percentage
@function compute_elevation($color1, $color2, $level) {
  $percent: get_percent_elevation($level);
  @return mix($color1, $color2, $percent);
}

/// Shortcut function to elevate the 'surface' color of the scheme to the given level, by applying
/// the 'surface-tint' color of the scheme on it.
@function elevate_surface($level) {
  $percent: get_percent_elevation($level);
  $tint: get_scheme_color('surface-tint');
  $surface: get_scheme_color('surface');
  @return mix($tint, $surface, $percent);
}

/// Shortcut function to compute the elevation for a 'color' with the provided
/// tint/layer and given the level of the elevation.
@function elevate($color, $layer, $level) {
  $percent: get_percent_elevation($level);
  @return mix(get_scheme_color($layer), get_scheme_color($color), $percent);
}

/// Returns the value associated with the given shape type as specified by the tokens module
@function get_shape($type) {
  @return unquote(map.get($shapes, $type));
}