@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Component-level tokens
$bg-color: Theme.GetSchemeColor('surface-container-low') !default;
$surface-tint: Theme.GetSchemeColor('primary') !default;

$text-color: Theme.GetSchemeColor('primary') !default;
$icon-color: Theme.GetSchemeColor('primary') !default;
$ripple-color: Ripple.Ripple('primary') !default;

$elevation: 1 !default;
$elevation-hover: 2 !default;

/****************************************************************************************************
 * Elevated Buttons
 ****************************************************************************************************/
.mfx-button.elevated {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.elevated > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation);
}

.mfx-button.elevated > .surface > .bg {
  -fx-background-color: $surface-tint;
}

.mfx-button.elevated:hover > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-hover);
}

.mfx-button.elevated .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.elevated > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}