@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$bg-color: Theme.GetSchemeColor('secondary-container') !default;
$surface-tint: Theme.GetSchemeColor('on-secondary-container') !default;

$text-color: Theme.GetSchemeColor('on-secondary-container') !default;
$icon-color: Theme.GetSchemeColor('on-secondary-container') !default;
$ripple-color: Ripple.Ripple('on-secondary-container') !default;

$elevation: 0 !default;
$elevation-hover: 1 !default;

/****************************************************************************************************
 * Filled Tonal Buttons
 ****************************************************************************************************/
.mfx-button.filled-tonal {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.filled-tonal > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation);
}

.mfx-button.filled-tonal > .surface > .bg {
  -fx-background-color: $surface-tint;
}

.mfx-button.filled-tonal:hover > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-hover);
}

.mfx-button.filled-tonal .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.filled-tonal .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}