@use '../../tokens/theme' as Theme;
@use '../../tokens/typography' as Typography;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Shared component-level tokens
$bg-color-disabled: rgba(Theme.GetSchemeColor('on-surface'), Theme.GetStateLayer('disabled')) !default;
$bg-radius: 20px !default;

$text-color-disabled: Theme.GetSchemeColor('on-surface') !default;

$icon-size: 18px !default;
$icon-color-disabled: $text-color-disabled !default;

$padding: 24px !default;
$padding-text: 12px !default;
$padding-icon: 16px !default;

$elements-gap: 8px !default;
$alignment: CENTER !default;

$elevation-disabled: 0 !default;

/****************************************************************************************************
 * Buttons shared properties
 ****************************************************************************************************/
.mfx-button {
  @include Typography.LabelLarge();
  -fx-graphic-text-gap: $elements-gap;
  -fx-background-radius: $bg-radius;
  -fx-alignment: $alignment;
  -fx-padding: 0px $padding 0px $padding;

  &.text {
    -fx-padding: 0px $padding-text 0px $padding-text;
  }

  > .surface > .bg {
    -fx-background-radius: $bg-radius;
  }
}

.mfx-button.elevated:disabled,
.mfx-button.filled:disabled,
.mfx-button.filled-tonal:disabled,
.mfx-button.text:disabled,
.mfx-button.outlined:disabled {
  -fx-text-fill: $text-color-disabled;
  -fx-background-color: $bg-color-disabled;
}

.mfx-button:disabled > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-disabled);
}

.mfx-button.outlined:disabled,
.mfx-button.text:disabled {
  -fx-background-color: transparent;
}

.mfx-button > .label > .mfx-font-icon {
  -mfx-size: $icon-size;
}

.mfx-button:disabled > .label > .mfx-font-icon {
  -mfx-color: $icon-color-disabled;
}

/* Label text is solid, label node is opaque, this is the correct way to get the right disabled color */
.mfx-button:disabled > .label {
  -fx-opacity: Theme.GetStateLayer('disabled-text');
}

.mfx-button {
  &:with-icon-left {
    -fx-padding: 0px $padding 0px $padding-icon;
  }

  &.text:with-icon-left {
    -fx-padding: 0px $padding-icon 0px $padding-text;
  }
}

.mfx-button {
  &:with-icon-right {
    -fx-padding: 0px $padding-icon 0px $padding;
  }

  &.text:with-icon-right {
    -fx-padding: 0px $padding-text 0px $padding-icon;
  }
}