# IntelliJ Idea
.idea/
build/
out/

# Gradle
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Others
materialfx/src/test
demo/scenicView.properties
scenicView.properties
