# IntelliJ Idea
.idea/
build/
out/

# Gradle
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Others
materialfx/gradle.properties
demo/src/test
materialfx/src/test
