# IntelliJ Idea
.idea/
build/
out/

# Gradle
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Others
demo/src/main/java/io/github/palexdev/materialfx/demo/TestDemo.java
demo/src/test
materialfx/src/test
