/****************************************************************************************************
 * Elevated Buttons
 ****************************************************************************************************/
.mfx-button.elevated {
	-fx-font-family: "Roboto Medium";
	-fx-font-weight: 500;
	-fx-font-size: 14px;
	-fx-line-spacing: 20px;
	-fx-text-fill: #6750A4;
	-fx-background-color: #f7f2fa;
	-fx-background-radius: 20px;
	-fx-pref-height: 40px;
	-fx-padding: 0px 24px 0px 24px;
	-fx-graphic-text-gap: 8px;
}

.mfx-button.elevated:with-icon-left {
	-fx-padding: 0px 16px 0px 24px;
}

.mfx-button.elevated:with-icon-right {
	-fx-padding: 0px 24px 0px 16px;
}

.mfx-button.elevated .mfx-font-icon {
	-mfx-color: #6750A4;
	-mfx-size: 18px;
}

.mfx-button.elevated:disabled {
	-fx-background-color: rgba(28, 27, 31, 0.12);
	-fx-text-fill: rgba(28, 27, 31, 0.38);
}

.mfx-button.elevated:disabled .mfx-font-icon {
	-mfx-color: rgba(28, 27, 31, 0.38);
}

.mfx-button.elevated:hover {
	-fx-background-color: #e8e0f0;
}

.mfx-button.elevated:focused {
	-fx-background-color: #e6dff0;
}

.mfx-button.elevated:pressed {
	-fx-background-color: #e6dff0;
}
