@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$surface-tint: Theme.GetSchemeColor('on-secondary-container') !default;
$bg-color: Theme.GetSchemeColor('secondary-container') !default;
$text-color: Theme.GetSchemeColor('on-secondary-container') !default;
$icon-color: Theme.GetSchemeColor('on-secondary-container') !default;
$ripple-color: Ripple.Ripple('on-secondary-container');

/****************************************************************************************************
 * Secondary FABs
 ****************************************************************************************************/
.mfx-button.fab.secondary {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.fab.secondary:hover {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'hover');
}

.mfx-button.fab.secondary:focused,
.mfx-button.fab.secondary:pressed {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'focused');
}

.mfx-button.fab.secondary .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.fab.secondary .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}