@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$surface-tint: Theme.GetSchemeColor('on-tertiary-container') !default;
$bg-color: Theme.GetSchemeColor('tertiary-container') !default;
$text-color: Theme.GetSchemeColor('on-tertiary-container') !default;
$icon-color: Theme.GetSchemeColor('on-tertiary-container') !default;
$ripple-color: Ripple.Ripple('on-tertiary-container');

/****************************************************************************************************
 * Tertiary FABs
 ****************************************************************************************************/
.mfx-button.fab.tertiary {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.fab.tertiary:hover {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'hover');
}

.mfx-button.fab.tertiary:focused,
.mfx-button.fab.tertiary:pressed {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'focus');
}

.mfx-button.fab.tertiary .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.fab.tertiary .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}