@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$bg-color: Theme.GetSchemeColor('tertiary-container') !default;
$surface-tint: Theme.GetSchemeColor('on-tertiary-container') !default;

$text-color: Theme.GetSchemeColor('on-tertiary-container') !default;
$icon-color: Theme.GetSchemeColor('on-tertiary-container') !default;
$ripple-color: Ripple.Ripple('on-tertiary-container');

/****************************************************************************************************
 * Tertiary FABs
 ****************************************************************************************************/
.mfx-button.fab.tertiary {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.fab.tertiary > .surface > .bg {
  -fx-background-color: $surface-tint;
}

.mfx-button.fab.tertiary > .label > .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.fab.tertiary > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}