@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use "../../abstracts/theme_utils" as ThemeUtils;

// Tokens
$bg-color: Theme.GetSchemeColor('surface-container-high') !default;
$surface-tint: Theme.GetSchemeColor('primary') !default;

$bg-color-lowered: Theme.GetSchemeColor('surface-container-low') !default;
$text-color: Theme.GetSchemeColor('primary') !default;
$icon-color: Theme.GetSchemeColor('primary') !default;
$ripple-color: Ripple.Ripple('primary');

/****************************************************************************************************
 * Surface FABs
 ****************************************************************************************************/
.mfx-button.fab.surface {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.fab.surface > .surface > .bg {
  -fx-background-color: $surface-tint;
}

.mfx-button.fab.surface > .label > .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.fab.surface > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}

/****************************************************************************************************
 * Lowered Surface FABs
 ****************************************************************************************************/
.mfx-button.fab.surface.lowered {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color-lowered;
}