@use 'sass:color';
@use '../../tokens/theme' as Theme;
@use '../../abstracts/ripple' as Ripple;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Tokens
$surface-tint: Theme.GetSchemeColor('on-primary-container') !default;
$bg-color: Theme.GetSchemeColor('primary-container');
$text-color: Theme.GetSchemeColor('on-primary-container') !default;
$icon-color: Theme.GetSchemeColor('on-primary-container') !default;
$ripple-color: Ripple.Ripple('on-primary-container');

/****************************************************************************************************
 * Primary FABs
 ****************************************************************************************************/
.mfx-button.fab {
  -fx-text-fill: $text-color;
  -fx-background-color: $bg-color;
}

.mfx-button.fab:hover {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'hover');
}

.mfx-button.fab:focused,
.mfx-button.fab:pressed {
  -fx-background-color: ThemeUtils.StateLayer($surface-tint, $bg-color, 'focus');
}

.mfx-button.fab .mfx-font-icon {
  -mfx-color: $icon-color;
}

.mfx-button.fab .mfx-ripple-generator {
  -mfx-ripple-color: $ripple-color;
}