@use '../../tokens/theme' as Theme;
@use '../../tokens/typography' as Typography;
@use '../../abstracts/theme_utils' as ThemeUtils;

// Shared component-level tokens
$bg-radius: 16px !default;
$bg-radius-small: 12px !default;
$bg-radius-large: 28px !default;

$icon-size: 24px !default;
$icon-size-large: 36px !default;

$min-width-standard: 56px !default;
$min-width-extended: 80px !default;
$min-height: 56px !default;

$min-width-small: 40px !default;
$min-height-small: 40px !default;

$min-width-large: 96px !default;
$min-height-large: 96px !default;

$padding: 16px !default;
$padding-small: 0px !default;
$elements-gap: 8px;

$elevation: 3 !default;
$elevation-lowered: 1 !default;
$elevation-hover: 4 !default;
$elevation-hover-lowered: 2 !default;

/****************************************************************************************************
 * FABs shared properties
 ****************************************************************************************************/
.mfx-button.fab,
.mfx-button.fab:extended {
  @include Typography.LabelLarge();
  -fx-graphic-text-gap: $elements-gap;
  -fx-background-radius: $bg-radius;
  -fx-padding: $padding;
  -mfx-init-width: $min-width-standard;
  -mfx-init-height: $min-height;

  > .surface {
    -mfx-elevation: ThemeUtils.ElevationLevel($elevation);
  }

  > .surface > .bg {
    -fx-background-radius: $bg-radius;
  }
}

.mfx-button.fab:extended {
  -mfx-init-width: $min-width-extended;
}

.mfx-button.fab:hover > .surface,
.mfx-button.fab:extended:hover > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-hover);
}

.mfx-button.fab .mfx-font-icon,
.mfx-button.fab:extended .mfx-font-icon {
  -mfx-size: $icon-size;
}

.mfx-button.fab.small {
  -fx-background-radius: $bg-radius-small;
  -fx-padding: $padding-small;
  -mfx-init-width: $min-width-small;
  -mfx-init-height: $min-height-small;
}

.mfx-button.fab.small > .surface > .bg {
  -fx-background-radius: $bg-radius-small;
}

.mfx-button.fab.large {
  -fx-background-radius: $bg-radius-large;
  -mfx-init-width: $min-width-large;
  -mfx-init-height: $min-height-large;
}

.mfx-button.fab.large > .surface > .bg {
  -fx-background-radius: $bg-radius-large;
}

.mfx-button.fab.large .mfx-font-icon {
  -mfx-size: $icon-size-large;
}

/* FABs don't have the disabled state */
.mfx-button.fab:disabled .label {
  -fx-opacity: 1.0
}

/****************************************************************************************************
 * Lowered FABs
 ****************************************************************************************************/
.mfx-button.fab.lowered > .surface,
.mfx-button.fab:extended.lowered > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-lowered);
}

.mfx-button.fab.lowered:hover > .surface,
.mfx-button.fab:extended.lowered:hover > .surface {
  -mfx-elevation: ThemeUtils.ElevationLevel($elevation-hover-lowered);
}