.context-menu .text-input-context-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.context-menu .text-input-context-menu .button {
    -fx-background-radius: 0;
    -fx-background-color: derive(-fx-color, -40%);
    -fx-text-fill: white;
}

.context-menu .text-input-context-menu .pointer {
    -fx-background-color: derive(-fx-color, -40%);
    -fx-padding: 6px;
    -fx-shape: "M 6 0 L 12 12 L 0 12 z";
    -fx-scale-shape: true;
}

.scroll-bar:horizontal, .scroll-bar:horizontal:focused, .scroll-bar:vertical, .scroll-bar:vertical:focused, .scroll-bar:horizontal > .track-background, .scroll-bar:vertical > .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal > .thumb {
    -fx-background-color: -fx-box-border, linear-gradient(to bottom, derive(-fx-color, 95%), derive(-fx-color, 10%));
    -fx-background-radius: 4, 3;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-box-border, linear-gradient(to right, derive(-fx-color, 95%), derive(-fx-color, 10%));
    -fx-background-radius: 4, 3;
}

.scroll-bar:horizontal > .track {
    -fx-opacity: 50%;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-color, -15%), derive(-fx-color, 2.2%) 20%, derive(-fx-color, 60%));
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.scroll-bar:vertical > .track {
    -fx-opacity: 50%;
    -fx-background-color: linear-gradient(to right, derive(-fx-color, -15%), derive(-fx-color, 2.2%) 20%, derive(-fx-color, 60%));
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.list-view > .virtual-flow > .corner, .tree-view > .virtual-flow > .corner, .table-view > .virtual-flow > .corner, .tree-table-view > .virtual-flow > .corner, .scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal, .scroll-pane > .scroll-bar:vertical {
    -fx-padding: 2;
}

.list-view > .virtual-flow > .scroll-bar:horizontal, .tree-view > .virtual-flow > .scroll-bar:horizontal, .table-view > .virtual-flow > .scroll-bar:horizontal, .tree-table-view > .virtual-flow > .scroll-bar:horizontal, .list-view > .virtual-flow > .scroll-bar:vertical, .tree-view > .virtual-flow > .scroll-bar:vertical, .table-view > .virtual-flow > .scroll-bar:vertical, .tree-table-view > .virtual-flow > .scroll-bar:vertical {
    -fx-padding: 1;
}

.text-field {
    -fx-padding: 6 5 6 5;
}

.text-area .content {
    -fx-padding: 9 5 9 5;
}

.caret-handle {
    -fx-background-color: transparent, black, linear-gradient(to bottom, #afafaf 0%, #dfdfdf 100%);
    -fx-background-insets: -4 -18 -8 -18, 0, 1;
    -fx-shape: "M11.974,2.579L20,12.358V20H4V12.356L11.974,2.579z";
    -fx-padding: .32em .3em .32em .3em;
    -fx-cursor: hand;
}

.selection-handle {
    -fx-background-color: transparent, #0071bc, linear-gradient(to bottom, #0063aa 0%, #008aed 100%);
    -fx-background-insets: -4 -18 -8 -18, 0, 1;
    -fx-shape: "M10.974,2.579L19,12.358V20H3V12.356L10.974,2.579z";
    -fx-padding: .32em .3em .32em .3em;
    -fx-cursor: hand;
}

.choice-box:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.choice-box:focused:showing {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.choice-box:focused:internal-focus {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.slider {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 3 5 5 5;
}

.slider:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

.slider:focused:internal-focus {
    -fx-background-color: transparent;
}

.slider:focused:external-focus > .thumb {
    -fx-focus-color: transparent;
}

.text-field:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field:focused:external-focus .caret-handle {
    -fx-background-color: transparent;
}

.text-field:focused:external-focus .selection-handle {
    -fx-background-color: transparent;
}

.text-field:focused:internal-focus {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-prompt-text-fill: transparent;
}

.password-field:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.password-field:focused:external-focus .caret-handle {
    -fx-background-color: transparent;
}

.password-field:focused:external-focus .selection-handle {
    -fx-background-color: transparent;
}

.password-field:focused:internal-focus {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
}

.text-area:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-area:focused:external-focus .caret-handle {
    -fx-background-color: transparent;
}

.text-area:focused:external-focus .selection-handle {
    -fx-background-color: transparent;
}

.text-area:focused:internal-focus {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-prompt-text-fill: transparent;
}

.combo-box:focused:external-focus {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.combo-box:focused:showing {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.combo-box:focused:internal-focus {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}