@import 'shared';

// Tokens
$radius: 4px !default;

/****************************************************************************************************
 * Linear Progress Indicators
 ****************************************************************************************************/
.mfx-progress-indicator {
  > .bar,
  > .stop {
    -fx-background-color: $main-color;
    -fx-background-radius: $radius;
  }

  > .segment {
    -fx-background-color: $track-color;
    -fx-background-radius: $radius;
  }
}