/* Legacy Combos */
.mfx-legacy-combo-box {
  -mfx-line-color: rgb(50, 120, 220);
  -mfx-unfocused-line-color: #4d4d4d;
  -fx-prompt-text-fill: #4d4d4d;
  -fx-padding: -1 -1 -1 -5;
}

.mfx-legacy-combo-box:editable > .arrow-button,
.mfx-legacy-combo-box > .arrow-button {
  -fx-padding: 2;
}

.mfx-legacy-combo-box,
.mfx-legacy-combo-box:focused,
.mfx-legacy-combo-box:editable,
.mfx-legacy-combo-box:editable:focused {
  -fx-background-color: transparent, transparent, transparent, transparent;
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
}

.mfx-legacy-combo-box .text-field,
.mfx-legacy-combo-box:focused .text-field,
.mfx-legacy-combo-box:editable .text-field,
.mfx-legacy-combo-box:editable:focused .text-field {
  -fx-background-color: transparent, transparent, transparent, transparent;
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
}

.mfx-legacy-combo-box .combo-box-button-container {
  -fx-background-color: transparent;
}

.mfx-legacy-combo-box > .arrow-button,
.mfx-legacy-combo-box:editable > .arrow-button,
.mfx-legacy-combo-box:editable:focused > .arrow-button {
  -fx-background-color: transparent;
}

.mfx-legacy-combo-box .validate-label {
  -fx-background-color: transparent;
  -fx-font-family: "Open Sans SemiBold";
  -fx-font-size: 11;
  -fx-text-fill: #EF6E6B;
}

.mfx-legacy-combo-box:invalid {
  -mfx-line-color: #EF6E6B;
  -mfx-unfocused-line-color: #EF6E6B;
  -fx-prompt-text-fill: #EF6E6B;
  -fx-text-fill: #EF6E6B;
}

.mfx-legacy-combo-box:invalid .text-field {
  -fx-prompt-text-fill: #ff0600;
  -fx-text-fill: #EF6E6B;
}

.mfx-legacy-combo-box:invalid .list-cell {
  -fx-text-fill: #EF6E6B;
}

.mfx-legacy-combo-box:invalid > .arrow-button > .arrow {
  -fx-background-color: #EF6E6B;
}

/* Legacy ListViews*/
/* Base */
.mfx-legacy-list-view {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
	/*-fx-background-insets: 1;*/
  -fx-border-color: transparent;
}

/* Look up colors */
.mfx-legacy-list-view {
  -mfx-selection-bar: transparent;
  -mfx-selection-bar-non-focused: transparent;
  -mfx-box-border: transparent;
  -fx-selection-bar: -mfx-selection-bar;
  -fx-selection-bar-non-focused: -mfx-selection-bar;
  -fx-box-border: -mfx-box-border;
  -mfx-track-color: rgb(230, 230, 230);
  -mfx-thumb-color: rgb(137, 137, 137);
  -mfx-thumb-hover-color: rgb(89, 88, 91);
}

/* Remove JavaFX crap */
.mfx-legacy-list-view > .virtual-flow > .corner {
  -fx-background-color: transparent;
}

.mfx-legacy-list-view > .virtual-flow > .scroll-bar,
.mfx-legacy-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.mfx-legacy-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.mfx-legacy-list-view > .virtual-flow > .scroll-bar .decrement-button,
.mfx-legacy-list-view > .virtual-flow > .scroll-bar .increment-button {
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

.mfx-legacy-list-view .scroll-bar:horizontal .increment-button,
.mfx-legacy-list-view .scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.mfx-legacy-list-view .scroll-bar:vertical .increment-button,
.mfx-legacy-list-view .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

.mfx-legacy-list-view .scroll-bar .increment-arrow,
.mfx-legacy-list-view .scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.15em 0.0;
}

.mfx-legacy-list-view .scroll-bar:horizontal .increment-arrow,
.mfx-legacy-list-view .scroll-bar:horizontal .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.05em;
}

.mfx-legacy-list-view .scroll-bar:vertical .increment-arrow,
.mfx-legacy-list-view .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.05em;
}

/* Customize ScrollBars */
.mfx-legacy-list-view .mfx-scroll-bar:horizontal .track {
  -fx-background-color: -mfx-track-color;
  -fx-border-color: transparent;
  -fx-background-radius: 2.0em;
  -fx-border-radius: 2.0em;
}

.mfx-legacy-list-view .mfx-scroll-bar:vertical .track {
  -fx-background-color: -mfx-track-color;
  -fx-border-color: transparent;
  -fx-background-radius: 2.0em;
  -fx-border-radius: 2.0em;
}

.mfx-legacy-list-view .mfx-scroll-bar .decrement-arrow,
.mfx-legacy-list-view .mfx-scroll-bar .increment-arrow {
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

.mfx-legacy-list-view .mfx-scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 5 0.5 20 0.5;
}

.mfx-legacy-list-view .mfx-scroll-bar:horizontal {
  -fx-background-color: transparent;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 0.5 20 0.5 5;
}

.mfx-legacy-list-view .mfx-scroll-bar:horizontal .thumb,
.mfx-legacy-list-view .mfx-scroll-bar:vertical .thumb {
  -fx-background-color: -mfx-thumb-color;
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.mfx-legacy-list-view .mfx-scroll-bar:horizontal .thumb:hover,
.mfx-legacy-list-view .mfx-scroll-bar:vertical .thumb:hover {
  -fx-background-color: -mfx-thumb-hover-color;
  -fx-background-insets: 1.5, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.mfx-legacy-list-cell {
  -fx-background-insets: 0.0;
  -fx-text-fill: BLACK;
  -mfx-hover-color: rgba(50, 150, 255, 0.2);
}

.mfx-legacy-list-cell:odd,
.mfx-legacy-list-cell:even {
  -fx-background-color: white;
}

.mfx-legacy-list-cell:filled:hover,
.mfx-legacy-list-cell:selected .label {
  -fx-text-fill: black;
}

.mfx-legacy-list-cell .text {
  -fx-fill: -fx-text-background-color;
}

.mfx-legacy-list-cell:selected .text {
  -fx-fill: black;
}

.mfx-legacy-list-cell:hover .text {
  -fx-fill: black;
}

/* Legacy TableViews */
/* Base */
.mfx-legacy-table-view {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: lightgray;
  -fx-background-radius: 2;
  -fx-border-radius: 2;
  -fx-padding: 0 0 10 0;
}

/* Look up colors */
.mfx-legacy-table-view {
  -mfx-selection-bar: transparent;
  -mfx-selection-bar-non-focused: transparent;
  -mfx-box-border: transparent;
  -fx-table-cell-border-color: transparent;
  -fx-selection-bar: -mfx-selection-bar;
  -fx-selection-bar-non-focused: -mfx-selection-bar;
  -fx-box-border: -mfx-box-border;
  -mfx-track-color: rgb(225, 225, 225);
  -mfx-thumb-color: rgb(157, 157, 157);
  -mfx-thumb-hover-color: rgb(88, 88, 88);
}

.mfx-legacy-table-view .column-header,
.mfx-legacy-table-view .column-header-background,
.mfx-legacy-table-view .column-header-background .filler {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.mfx-legacy-table-view .column-header {
  -fx-border-color: #f3f3f3 #f3f3f3 #f3f3f3 transparent;
  -fx-border-width: 0 2 0 0;
}

.mfx-legacy-table-view .column-header .label {
  -fx-text-fill: #2e3440;
  -fx-padding: 16 0 16 0;
}

.mfx-legacy-table-view .column-header .arrow,
.mfx-legacy-table-view .column-header .sort-order-dot {
  -fx-background-color: #2e3440;
}

.mfx-legacy-table-view .column-header:last-visible {
  -fx-border-width: 0 2 0 1;
}

.mfx-legacy-table-view .column-header-background {
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #F3F3F3;
}

.mfx-legacy-table-view .column-overlay {
  -fx-background-color: rgb(180, 180, 255);
}

.mfx-legacy-table-view .column-resize-line,
.mfx-legacy-table-view .column-drag-header {
  -fx-background-color: rgb(150, 180, 255);
}

/* Remove JavaFX crap */
.mfx-legacy-table-view > .virtual-flow > .corner {
  -fx-background-color: transparent;
}

.mfx-legacy-table-view > .virtual-flow > .scroll-bar,
.mfx-legacy-table-view > .virtual-flow > .scroll-bar .decrement-arrow,
.mfx-legacy-table-view > .virtual-flow > .scroll-bar .increment-arrow,
.mfx-legacy-table-view > .virtual-flow > .scroll-bar .decrement-button,
.mfx-legacy-table-view > .virtual-flow > .scroll-bar .increment-button {
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

.mfx-legacy-table-view .scroll-bar:horizontal .increment-button,
.mfx-legacy-table-view .scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.mfx-legacy-table-view .scroll-bar:vertical .increment-button,
.mfx-legacy-table-view .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

.mfx-legacy-table-view .scroll-bar .increment-arrow,
.mfx-legacy-table-view .scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.15em 0.0;
}

.mfx-legacy-table-view .scroll-bar:horizontal .increment-arrow,
.mfx-legacy-table-view .scroll-bar:horizontal .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.05em;
}

.mfx-legacy-table-view .scroll-bar:vertical .increment-arrow,
.mfx-legacy-table-view .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.05em;
}

/* Customize ScrollBars */
.mfx-legacy-table-view .mfx-scroll-bar:horizontal .track {
  -fx-background-color: -mfx-track-color;
  -fx-border-color: transparent;
  -fx-background-radius: 2.0em;
  -fx-border-radius: 2.0em;
  -fx-background-insets: 3;
}

.mfx-legacy-table-view .mfx-scroll-bar:vertical .track {
  -fx-background-color: -mfx-track-color;
  -fx-border-color: transparent;
  -fx-background-radius: 2.0em;
  -fx-border-radius: 2.0em;
  -fx-background-insets: 3;
}

.mfx-legacy-table-view .mfx-scroll-bar .decrement-arrow,
.mfx-legacy-table-view .mfx-scroll-bar .increment-arrow {
  -fx-pref-width: 0;
  -fx-pref-height: 0;
}

.mfx-legacy-table-view .mfx-scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 5 0.5 5 0.5;
}

.mfx-legacy-table-view .mfx-scroll-bar:horizontal {
  -fx-background-color: transparent;
  -fx-pref-width: 12;
  -fx-pref-height: 12;
  -fx-padding: 0.5 5 0.5 5;
}

.mfx-legacy-table-view .mfx-scroll-bar:horizontal .thumb,
.mfx-legacy-table-view .mfx-scroll-bar:vertical .thumb {
  -fx-background-color: -mfx-thumb-color;
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.mfx-legacy-table-view .mfx-scroll-bar:horizontal .thumb:hover,
.mfx-legacy-table-view .mfx-scroll-bar:vertical .thumb:hover {
  -fx-background-color: -mfx-thumb-hover-color;
  -fx-background-insets: 1.5, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.mfx-legacy-table-row {
  -fx-background-insets: 0.0;
  -fx-text-fill: black;
  -fx-padding: 0 -3 0 3;
  -mfx-hover-color: rgba(50, 150, 255, 0.15);
}

.mfx-legacy-table-row:odd,
.mfx-legacy-table-row:even {
  -fx-background-color: white;
}

.mfx-legacy-table-row:filled:hover,
.mfx-legacy-table-row:selected .label {
  -fx-text-fill: black;
}

.table-row-cell .text {
  -fx-fill: -fx-text-background-color;
}

.table-row-cell:selected .text {
  -fx-fill: black;
}
