@use 'buttons_base';
@use '../../abstracts/elevation_utils' as *;
@use '../../abstracts/theme_utils' as *;
@use '../../tokens/typography' as *;

// Base mixins, these are different from common buttons base
@mixin fab_base($surface, $surfaceTint, $text, $elevation) {
  @include label_large();
  -fx-text-fill: get_scheme_color($text);
  -fx-graphic-text-gap: 8px;
  -fx-background-color: get_scheme_color($surface);
  -fx-background-radius: 16px;
  -mfx-init-height: 56px;
  -mfx-init-width: 80px;
  -fx-padding: 16px;
  -mfx-elevation: unquote("LEVEL" + $elevation);
}

@mixin fab_lowered($def_elevation, $hover_elevation, $focus_press_elevation) {
  &.lowered {
    -mfx-elevation: unquote("LEVEL" + $def_elevation);
  }

  &.lowered:hover {
    -mfx-elevation: unquote("LEVEL" + $hover_elevation);
  }

  &.lowered:focused,
  &.lowered:pressed {
    -mfx-elevation: unquote("LEVEL" + $focus_press_elevation);
  }
}

@mixin fab_disabled() {
  &:disabled > .label {
    -fx-opacity: 1.0;
  }
}

@mixin fab_hover($surface, $surfaceTint, $elevation) {
  &:hover {
    -fx-background-color: state_layer(get_scheme_color($surface), $surfaceTint, 'hover');
    -mfx-elevation: unquote("LEVEL" + $elevation);
  }
}

@mixin fab_focus_press($surface, $surfaceTint, $elevation) {
  &:focused,
  &:pressed {
    -fx-background-color: state_layer(get_scheme_color($surface), $surfaceTint, 'focused');
    -mfx-elevation: unquote("LEVEL" + $elevation);
  }
}

@mixin fab_icon($color) {
  .mfx-font-icon {
    -mfx-color: get_scheme_color($color);
    -mfx-size: 24px;
  }
}

/****************************************************************************************************
 * Extended FAB Primary
 ****************************************************************************************************/
$pmy_surface: 'primary-container';
$pmy_tint: 'on-primary-container';
$pmy_text: 'on-primary-container';
$pmy_icon: 'on-primary-container';
$pmy_ripple: 'on-primary-container';

.mfx-button.fab-extended {
  @include fab_base($pmy_surface, $pmy_tint, $pmy_text, 3);
  @include fab_disabled();
  @include fab_hover($pmy_surface, $pmy_tint, 4);
  @include fab_focus_press($pmy_surface, $pmy_tint, 3);
  @include fab_icon($pmy_icon);
  @include buttons_base.ripple($pmy_ripple);
  @include fab_lowered(1, 2, 1);
}

/****************************************************************************************************
 * Extended FAB Surface
 ****************************************************************************************************/
$sfe_surface: 'surface';
$sfe_tint: 'primary';
$sfe_text: 'primary';
$sfe_icon: 'primary';
$sfe_ripple: 'primary';

.mfx-button.fab-extended.surface {
  @include fab_base($sfe_surface, $sfe_tint, $sfe_text, 3);
  @include fab_disabled();
  @include fab_hover($sfe_surface, $sfe_tint, 4);
  @include fab_focus_press($sfe_surface, $sfe_tint, 3);
  @include fab_icon($sfe_icon);
  @include buttons_base.ripple($sfe_ripple);
  @include fab_lowered(1, 2, 1);
}

/****************************************************************************************************
 * Extended FAB Secondary
 ****************************************************************************************************/
$sdy_surface: 'secondary-container';
$sdy_tint: 'on-secondary-container';
$sdy_text: 'on-secondary-container';
$sdy_icon: 'on-secondary-container';
$sdy_ripple: 'on-secondary-container';

.mfx-button.fab-extended.secondary {
  @include fab_base($sdy_surface, $sdy_tint, $sdy_text, 3);
  @include fab_disabled();
  @include fab_hover($sdy_surface, $sdy_tint, 4);
  @include fab_focus_press($sdy_surface, $sdy_tint, 3);
  @include fab_icon($sdy_icon);
  @include buttons_base.ripple($sdy_ripple);
  @include fab_lowered(1, 2, 1);
}

/****************************************************************************************************
 * Extended FAB Tertiary
 ****************************************************************************************************/
$tty_surface: 'tertiary-container';
$tty_tint: 'on-tertiary-container';
$tty_text: 'on-tertiary-container';
$tty_icon: 'on-tertiary-container';
$tty_ripple: 'on-tertiary-container';

.mfx-button.fab-extended.tertiary {
  @include fab_base($tty_surface, $tty_tint, $tty_text, 3);
  @include fab_disabled();
  @include fab_hover($tty_surface, $tty_tint, 4);
  @include fab_focus_press($tty_surface, $tty_tint, 3);
  @include fab_icon($tty_icon);
  @include buttons_base.ripple($tty_ripple);
  @include fab_lowered(1, 2, 1);
}
