/*================================================================================*/
/* Ripple
/*================================================================================*/
.mfx-checkbox .ripple-container {
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.mfx-checkbox .ripple-container .ripple-generator {
    -mfx-ripple-color: rgb(190, 190, 190);
}

/*================================================================================*/
/* Box
/*================================================================================*/
.mfx-checkbox .box {
    -fx-border-width: 2.2;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.mfx-checkbox:indeterminate .box {
    -fx-background-insets: 4;
}

/* CIRCULAR BOX*/
/*
.mfx-checkbox .box {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
}
*/

/*================================================================================*/
/* Mark
/*================================================================================*/
.mfx-checkbox:selected .mark {
    -fx-max-width: 12;
    -fx-max-height: 9;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-border-width: 5;
    -fx-border-radius: 2;
}


