.mfx-toggle-node,
.mfx-toggle-node:armed,
.mfx-toggle-node:hover,
.mfx-toggle-node:focused,
.mfx-toggle-node:selected,
.mfx-toggle-node:focused:selected{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.mfx-toggle-node {
    -fx-opacity: 0.5;
}

.mfx-toggle-node:selected {
    -fx-opacity: 1.0;
}