.mfx-tree-cell {
    -fx-padding: 0px 0px 0px 5px;
    -fx-background-radius: 7px;
}

.mfx-tree-cell .ripple-generator {
    -mfx-ripple-color: rgba(0, 190, 0, 0.4);
}

.mfx-tree-cell:selected {
    -fx-background-color: lightgray;
}

.mfx-tree-cell * {
    -fx-font-smoothing-type: gray;
}