.mfx-toggle-button,
.mfx-toggle-button:armed,
.mfx-toggle-button:hover,
.mfx-toggle-button:focused,
.mfx-toggle-button:selected,
.mfx-toggle-button:focused:selected {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;

    -mfx-toggle-color: #009688;
    -mfx-untoggle-color: #FAFAFA;
    -mfx-toggle-line-color: derive(-mfx-toggle-color, 65%);
    -mfx-untoggle-line-color: #999999;
    -mfx-size: 10px;
}


.mfx-toggle-button Line {
    -fx-stroke: -mfx-untoggle-line-color;
}

.mfx-toggle-button:selected Line {
    -fx-stroke: -mfx-toggle-line-color;
}

.mfx-toggle-button Circle {
    -fx-fill: -mfx-untoggle-color;
}

.mfx-toggle-button:selected Circle {
    -fx-fill: -mfx-toggle-color;
}
