.mfx-scroll-pane {
    -mfx-track-color: rgb(230, 230, 230);
    -mfx-thumb-color: rgb(137, 137, 137);
    -mfx-thumb-hover-color: rgb(89, 88, 91);

    -fx-background-color: white;
}

.mfx-scroll-pane * {
    -fx-background-color: white;
}

.mfx-scroll-pane:focused {
    -fx-background-color: white;
}

.mfx-scroll-pane > .corner {
    -fx-background-color: transparent ;
}

.mfx-scroll-pane .scroll-bar:horizontal .track {
    -fx-background-color: -mfx-track-color;
    -fx-border-color: transparent;
    -fx-background-radius: 2.0em;
    -fx-border-radius: 2.0em;
    -fx-background-insets: 3.5 4 3.5 4;
}

.mfx-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: -mfx-track-color;
    -fx-border-color: transparent;
    -fx-background-radius: 2.0em;
    -fx-border-radius: 2.0em;
    -fx-background-insets: 4 3.5 4 3.5;
}

.mfx-scroll-pane .scroll-bar:horizontal .increment-button,
.mfx-scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

.mfx-scroll-pane .scroll-bar:vertical .increment-button,
.mfx-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.mfx-scroll-pane .scroll-bar .increment-arrow,
.mfx-scroll-pane .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.mfx-scroll-pane .scroll-bar:horizontal .increment-arrow,
.mfx-scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.05em;
}

.mfx-scroll-pane .scroll-bar:vertical .increment-arrow,
.mfx-scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.05em;
}

.mfx-scroll-pane .scroll-bar:horizontal .thumb,
.mfx-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -mfx-thumb-color;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.mfx-scroll-pane .scroll-bar:horizontal .thumb:hover,
.mfx-scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: -mfx-thumb-hover-color;
    -fx-background-insets: 1.5, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.mfx-scroll-pane .scroll-bar:horizontal .thumb:pressed,
.mfx-scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: -mfx-thumb-hover-color;
    -fx-background-insets: 1.5, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}