.mfx-table-view {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
}

.mfx-table-view #columns-container {
    -fx-border-color: transparent transparent lightgray transparent;
}

.mfx-table-view .pagination-controls-container {
    -fx-border-color: lightgray transparent transparent transparent;
}