.mfx-notification {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #D2D2D2;
    -fx-border-width: 0.8;
    -fx-border-radius: 5;
}

.mfx-notification .title-label {
    -fx-font-size: 12.5;
    -fx-font-weight: bold;
}

.mfx-button {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

