.mfx-filter-dialog {
    -mfx-base-color: rgb(76, 0, 225);
}

.mfx-filter-dialog #headerLabel {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -mfx-font-family: "Open Sans SemiBold";
}

.mfx-filter-dialog .mfx-button {
    -fx-border-color: -mfx-base-color;
    -fx-border-radius: 5;
    -fx-font-family: "Open Sans SemiBold";
}

.mfx-filter-dialog .mfx-button .text {
    -fx-fill: -mfx-base-color;
}

.mfx-filter-dialog .mfx-button .mfx-ripple-generator {
    -mfx-ripple-color: derive(-mfx-base-color, 150%)
}
