@import "Fonts.css";

/* COLORS */
.mfx-slider {
    -mfx-main-color: rgb(98, 0, 238);
    -mfx-main-color-hover: rgba(98, 0, 238, 0.1);
    -mfx-main-color-pressed: rgba(98, 0, 238, 0.3);
    -mfx-disabled-color: rgb(158, 158, 158);
}

/* MAIN STYLING */
.mfx-slider .track,
.mfx-slider .bar {
    -fx-arc-height: 6;
    -fx-arc-width: 6;
}

.mfx-slider .track {
    -fx-fill: derive(-mfx-main-color, 140%);
}

.mfx-slider .bar {
    -fx-fill: -mfx-main-color;
}

.mfx-slider .thumb-container .thumb {
    -mfx-color: -mfx-main-color;
}

.mfx-slider .thumb-container .thumb-radius {
    -mfx-color: transparent;
}

.mfx-slider .thumb-container:hover .thumb-radius {
    -mfx-color: -mfx-main-color-hover;
}

.mfx-slider .thumb-container:pressed .thumb-radius {
    -mfx-color: -mfx-main-color-pressed;
}

/* TICKS STYLING */
.mfx-slider .tick-even,
.mfx-slider .tick-odd,
.mfx-slider .axis-minor-tick-mark {
    -mfx-color: derive(-mfx-main-color, 30%);
    -fx-stroke: derive(-mfx-main-color, 130%);
}

/* POPUP */
#popupContent {
    -fx-background-color: #6E6E6E;
    -fx-background-radius: 6;
}

#popupText {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 13;
    -fx-text-fill: white;
}

#popupCaret {
    -mfx-color: #6E6E6E;
}

/* DISABLED */
.mfx-slider:disabled .bar,
.mfx-slider:disabled .tick-even,
.mfx-slider:disabled .tick-odd,
.mfx-slider:disabled .thumb-container .thumb {
    -mfx-color: -mfx-disabled-color;
    -fx-fill: -mfx-disabled-color;
}

.mfx-slider:disabled .track {
    -fx-fill: derive(-mfx-disabled-color, 75%);
}

.mfx-slider:disabled .axis-minor-tick-mark {
    -fx-stroke: derive(-mfx-disabled-color, 60%)
}