.years-button .mfx-ripple-generator {
    -mfx-ripple-color: #ff4100;
}

.month-back-button .mfx-ripple-generator {
    -mfx-ripple-color: #ff4100;
}

.month-forward-button .mfx-ripple-generator {
    -mfx-ripple-color: #ff4100;
}

.day-cell .mfx-ripple-generator {
    -mfx-ripple-color: #ff4100;
}

.year-cell .mfx-ripple-generator {
    -mfx-ripple-color: #ff4100;
}