.root {
  /* Light */
  -md-seed: #FF9800;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #1A0B00;
  -md-ref-palette-primary5: #1D0D00;
  -md-ref-palette-primary6: #210F00;
  -md-ref-palette-primary10: #2C1600;
  -md-ref-palette-primary12: #321A00;
  -md-ref-palette-primary15: #3B1F00;
  -md-ref-palette-primary17: #412300;
  -md-ref-palette-primary20: #4A2800;
  -md-ref-palette-primary24: #563000;
  -md-ref-palette-primary25: #593200;
  -md-ref-palette-primary30: #693C00;
  -md-ref-palette-primary35: #77470C;
  -md-ref-palette-primary40: #855318;
  -md-ref-palette-primary50: #A26B2F;
  -md-ref-palette-primary60: #C08446;
  -md-ref-palette-primary70: #DE9E5D;
  -md-ref-palette-primary80: #FDB975;
  -md-ref-palette-primary87: #FFD2A8;
  -md-ref-palette-primary90: #FFDCBE;
  -md-ref-palette-primary92: #FFE3CC;
  -md-ref-palette-primary94: #FFEADA;
  -md-ref-palette-primary95: #FFEEE1;
  -md-ref-palette-primary96: #FFF1E7;
  -md-ref-palette-primary98: #FFF8F5;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #190B00;
  -md-ref-palette-secondary5: #1D0D01;
  -md-ref-palette-secondary6: #201002;
  -md-ref-palette-secondary10: #291806;
  -md-ref-palette-secondary12: #2E1C09;
  -md-ref-palette-secondary15: #34220E;
  -md-ref-palette-secondary17: #392612;
  -md-ref-palette-secondary20: #402C18;
  -md-ref-palette-secondary24: #4A3520;
  -md-ref-palette-secondary25: #4C3722;
  -md-ref-palette-secondary30: #59422C;
  -md-ref-palette-secondary35: #664E37;
  -md-ref-palette-secondary40: #725A42;
  -md-ref-palette-secondary50: #8D7259;
  -md-ref-palette-secondary60: #A88B71;
  -md-ref-palette-secondary70: #C4A68A;
  -md-ref-palette-secondary80: #E1C1A4;
  -md-ref-palette-secondary87: #F6D4B6;
  -md-ref-palette-secondary90: #FFDCBE;
  -md-ref-palette-secondary92: #FFE3CC;
  -md-ref-palette-secondary94: #FFEADA;
  -md-ref-palette-secondary95: #FFEEE1;
  -md-ref-palette-secondary96: #FFF1E7;
  -md-ref-palette-secondary98: #FFF8F5;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #0A1000;
  -md-ref-palette-tertiary5: #0D1300;
  -md-ref-palette-tertiary6: #0F1600;
  -md-ref-palette-tertiary10: #161E01;
  -md-ref-palette-tertiary12: #1A2302;
  -md-ref-palette-tertiary15: #202906;
  -md-ref-palette-tertiary17: #242D0A;
  -md-ref-palette-tertiary20: #2B3410;
  -md-ref-palette-tertiary24: #333D18;
  -md-ref-palette-tertiary25: #353F1A;
  -md-ref-palette-tertiary30: #414B24;
  -md-ref-palette-tertiary35: #4C572F;
  -md-ref-palette-tertiary40: #58633A;
  -md-ref-palette-tertiary50: #717C50;
  -md-ref-palette-tertiary60: #8A9668;
  -md-ref-palette-tertiary70: #A5B080;
  -md-ref-palette-tertiary80: #C0CC9A;
  -md-ref-palette-tertiary87: #D3E0AC;
  -md-ref-palette-tertiary90: #DCE8B4;
  -md-ref-palette-tertiary92: #E2EEB9;
  -md-ref-palette-tertiary94: #E7F4BF;
  -md-ref-palette-tertiary95: #EAF7C2;
  -md-ref-palette-tertiary96: #EDF9C4;
  -md-ref-palette-tertiary98: #F3FFCB;
  -md-ref-palette-tertiary99: #F9FFE5;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #130D07;
  -md-ref-palette-neutral5: #16100A;
  -md-ref-palette-neutral6: #19120C;
  -md-ref-palette-neutral10: #211A14;
  -md-ref-palette-neutral12: #261E18;
  -md-ref-palette-neutral15: #2C241E;
  -md-ref-palette-neutral17: #302822;
  -md-ref-palette-neutral20: #372F28;
  -md-ref-palette-neutral24: #403830;
  -md-ref-palette-neutral25: #433A32;
  -md-ref-palette-neutral30: #4E453D;
  -md-ref-palette-neutral35: #5A5149;
  -md-ref-palette-neutral40: #675C54;
  -md-ref-palette-neutral50: #80756C;
  -md-ref-palette-neutral60: #9B8F85;
  -md-ref-palette-neutral70: #B6A99F;
  -md-ref-palette-neutral80: #D2C4BA;
  -md-ref-palette-neutral87: #E6D7CD;
  -md-ref-palette-neutral90: #EFE0D5;
  -md-ref-palette-neutral92: #F4E5DB;
  -md-ref-palette-neutral94: #FAEBE0;
  -md-ref-palette-neutral95: #FDEEE3;
  -md-ref-palette-neutral96: #FFF1E7;
  -md-ref-palette-neutral98: #FFF8F5;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #150D05;
  -md-ref-palette-neutral-variant5: #180F07;
  -md-ref-palette-neutral-variant6: #1A1209;
  -md-ref-palette-neutral-variant10: #231A11;
  -md-ref-palette-neutral-variant12: #271E15;
  -md-ref-palette-neutral-variant15: #2E241B;
  -md-ref-palette-neutral-variant17: #32281F;
  -md-ref-palette-neutral-variant20: #392E25;
  -md-ref-palette-neutral-variant24: #42372D;
  -md-ref-palette-neutral-variant25: #45392F;
  -md-ref-palette-neutral-variant30: #51453A;
  -md-ref-palette-neutral-variant35: #5D5045;
  -md-ref-palette-neutral-variant40: #695C51;
  -md-ref-palette-neutral-variant50: #837468;
  -md-ref-palette-neutral-variant60: #9D8E81;
  -md-ref-palette-neutral-variant70: #B9A89B;
  -md-ref-palette-neutral-variant80: #D5C3B5;
  -md-ref-palette-neutral-variant87: #E9D7C8;
  -md-ref-palette-neutral-variant90: #F2DFD1;
  -md-ref-palette-neutral-variant92: #F8E5D6;
  -md-ref-palette-neutral-variant94: #FEEBDC;
  -md-ref-palette-neutral-variant95: #FFEEE1;
  -md-ref-palette-neutral-variant96: #FFF1E7;
  -md-ref-palette-neutral-variant98: #FFF8F5;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #855318;
  -md-sys-color-surface-tint: #855318;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #FFDCBE;
  -md-sys-color-on-primary-container: #693C00;
  -md-sys-color-primary-fixed: #FFDCBE;
  -md-sys-color-on-primary-fixed: #2C1600;
  -md-sys-color-primary-fixed-dim: #FDB975;
  -md-sys-color-on-primary-fixed-variant: #693C00;
  -md-sys-color-inverse-primary: #FDB975;
  -md-sys-color-secondary: #725A42;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #FFDCBE;
  -md-sys-color-on-secondary-container: #59422C;
  -md-sys-color-secondary-fixed: #FFDCBE;
  -md-sys-color-on-secondary-fixed: #291806;
  -md-sys-color-secondary-fixed-dim: #E1C1A4;
  -md-sys-color-on-secondary-fixed-variant: #59422C;
  -md-sys-color-tertiary: #58633A;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #DCE8B4;
  -md-sys-color-on-tertiary-container: #414B24;
  -md-sys-color-tertiary-fixed: #DCE8B4;
  -md-sys-color-on-tertiary-fixed: #161E01;
  -md-sys-color-tertiary-fixed-dim: #C0CC9A;
  -md-sys-color-on-tertiary-fixed-variant: #414B24;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FFF8F5;
  -md-sys-color-on-background: #211A14;
  -md-sys-color-surface: #FFF8F5;
  -md-sys-color-on-surface: #211A14;
  -md-sys-color-surface-variant: #F2DFD1;
  -md-sys-color-on-surface-variant: #51453A;
  -md-sys-color-inverse-surface: #372F28;
  -md-sys-color-inverse-on-surface: #FDEEE3;
  -md-sys-color-surface-dim: #E6D7CD;
  -md-sys-color-surface-bright: #FFF8F5;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #FFF1E7;
  -md-sys-color-surface-container: #FAEBE0;
  -md-sys-color-surface-container-high: #F4E5DB;
  -md-sys-color-surface-container-highest: #EFE0D5;
  -md-sys-color-outline: #837468;
  -md-sys-color-outline-variant: #D5C3B5;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #FF9800;
  -md-sys-color-primary: #FDB975;
  -md-sys-color-surface-tint: #FDB975;
  -md-sys-color-on-primary: #4A2800;
  -md-sys-color-primary-container: #693C00;
  -md-sys-color-on-primary-container: #FFDCBE;
  -md-sys-color-primary-fixed: #FFDCBE;
  -md-sys-color-on-primary-fixed: #2C1600;
  -md-sys-color-primary-fixed-dim: #FDB975;
  -md-sys-color-on-primary-fixed-variant: #693C00;
  -md-sys-color-inverse-primary: #855318;
  -md-sys-color-secondary: #E1C1A4;
  -md-sys-color-on-secondary: #402C18;
  -md-sys-color-secondary-container: #59422C;
  -md-sys-color-on-secondary-container: #FFDCBE;
  -md-sys-color-secondary-fixed: #FFDCBE;
  -md-sys-color-on-secondary-fixed: #291806;
  -md-sys-color-secondary-fixed-dim: #E1C1A4;
  -md-sys-color-on-secondary-fixed-variant: #59422C;
  -md-sys-color-tertiary: #C0CC9A;
  -md-sys-color-on-tertiary: #2B3410;
  -md-sys-color-tertiary-container: #414B24;
  -md-sys-color-on-tertiary-container: #DCE8B4;
  -md-sys-color-tertiary-fixed: #DCE8B4;
  -md-sys-color-on-tertiary-fixed: #161E01;
  -md-sys-color-tertiary-fixed-dim: #C0CC9A;
  -md-sys-color-on-tertiary-fixed-variant: #414B24;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #19120C;
  -md-sys-color-on-background: #EFE0D5;
  -md-sys-color-surface: #19120C;
  -md-sys-color-on-surface: #EFE0D5;
  -md-sys-color-surface-variant: #51453A;
  -md-sys-color-on-surface-variant: #D5C3B5;
  -md-sys-color-inverse-surface: #EFE0D5;
  -md-sys-color-inverse-on-surface: #372F28;
  -md-sys-color-surface-dim: #19120C;
  -md-sys-color-surface-bright: #403830;
  -md-sys-color-surface-container-lowest: #130D07;
  -md-sys-color-surface-container-low: #211A14;
  -md-sys-color-surface-container: #261E18;
  -md-sys-color-surface-container-high: #302822;
  -md-sys-color-surface-container-highest: #3C332C;
  -md-sys-color-outline: #9D8E81;
  -md-sys-color-outline-variant: #51453A;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
