.root {
  /* Light */
  -md-seed: #2196F3;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #000F20;
  -md-ref-palette-primary5: #001225;
  -md-ref-palette-primary6: #001429;
  -md-ref-palette-primary10: #001D36;
  -md-ref-palette-primary12: #00213D;
  -md-ref-palette-primary15: #002747;
  -md-ref-palette-primary17: #002B4E;
  -md-ref-palette-primary20: #003258;
  -md-ref-palette-primary24: #013B66;
  -md-ref-palette-primary25: #053D69;
  -md-ref-palette-primary30: #194975;
  -md-ref-palette-primary35: #285581;
  -md-ref-palette-primary40: #36618E;
  -md-ref-palette-primary50: #507AA8;
  -md-ref-palette-primary60: #6A94C4;
  -md-ref-palette-primary70: #85AEE0;
  -md-ref-palette-primary80: #A0CAFD;
  -md-ref-palette-primary87: #C2DCFF;
  -md-ref-palette-primary90: #D1E4FF;
  -md-ref-palette-primary92: #DBE9FF;
  -md-ref-palette-primary94: #E5EFFF;
  -md-ref-palette-primary95: #EAF1FF;
  -md-ref-palette-primary96: #EEF4FF;
  -md-ref-palette-primary98: #F8F9FF;
  -md-ref-palette-primary99: #FDFCFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #030F1D;
  -md-ref-palette-secondary5: #051220;
  -md-ref-palette-secondary6: #071422;
  -md-ref-palette-secondary10: #101C2B;
  -md-ref-palette-secondary12: #14202F;
  -md-ref-palette-secondary15: #1A2735;
  -md-ref-palette-secondary17: #1E2B3A;
  -md-ref-palette-secondary20: #253140;
  -md-ref-palette-secondary24: #2E3A4A;
  -md-ref-palette-secondary25: #303C4C;
  -md-ref-palette-secondary30: #3B4858;
  -md-ref-palette-secondary35: #475364;
  -md-ref-palette-secondary40: #535F70;
  -md-ref-palette-secondary50: #6B788A;
  -md-ref-palette-secondary60: #8592A4;
  -md-ref-palette-secondary70: #9FACBF;
  -md-ref-palette-secondary80: #BBC7DB;
  -md-ref-palette-secondary87: #CEDBEF;
  -md-ref-palette-secondary90: #D7E3F7;
  -md-ref-palette-secondary92: #DCE9FD;
  -md-ref-palette-secondary94: #E5EFFF;
  -md-ref-palette-secondary95: #EAF1FF;
  -md-ref-palette-secondary96: #EEF4FF;
  -md-ref-palette-secondary98: #F8F9FF;
  -md-ref-palette-secondary99: #FDFCFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #170723;
  -md-ref-palette-tertiary5: #1A0926;
  -md-ref-palette-tertiary6: #1C0C29;
  -md-ref-palette-tertiary10: #251431;
  -md-ref-palette-tertiary12: #291836;
  -md-ref-palette-tertiary15: #301F3C;
  -md-ref-palette-tertiary17: #342341;
  -md-ref-palette-tertiary20: #3B2948;
  -md-ref-palette-tertiary24: #443251;
  -md-ref-palette-tertiary25: #463453;
  -md-ref-palette-tertiary30: #523F5F;
  -md-ref-palette-tertiary35: #5E4B6C;
  -md-ref-palette-tertiary40: #6B5778;
  -md-ref-palette-tertiary50: #846F92;
  -md-ref-palette-tertiary60: #9F89AD;
  -md-ref-palette-tertiary70: #BAA3C8;
  -md-ref-palette-tertiary80: #D6BEE4;
  -md-ref-palette-tertiary87: #EBD1F9;
  -md-ref-palette-tertiary90: #F2DAFF;
  -md-ref-palette-tertiary92: #F6E1FF;
  -md-ref-palette-tertiary94: #F9E8FF;
  -md-ref-palette-tertiary95: #FBECFF;
  -md-ref-palette-tertiary96: #FDEFFF;
  -md-ref-palette-tertiary98: #FFF7FD;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0B0E13;
  -md-ref-palette-neutral5: #0E1115;
  -md-ref-palette-neutral6: #111418;
  -md-ref-palette-neutral10: #191C20;
  -md-ref-palette-neutral12: #1D2024;
  -md-ref-palette-neutral15: #23262A;
  -md-ref-palette-neutral17: #272A2F;
  -md-ref-palette-neutral20: #2E3135;
  -md-ref-palette-neutral24: #36393E;
  -md-ref-palette-neutral25: #393C40;
  -md-ref-palette-neutral30: #44474C;
  -md-ref-palette-neutral35: #505258;
  -md-ref-palette-neutral40: #5C5E64;
  -md-ref-palette-neutral50: #75777C;
  -md-ref-palette-neutral60: #8E9196;
  -md-ref-palette-neutral70: #A9ABB1;
  -md-ref-palette-neutral80: #C4C6CC;
  -md-ref-palette-neutral87: #D8DAE0;
  -md-ref-palette-neutral90: #E1E2E8;
  -md-ref-palette-neutral92: #E6E8EE;
  -md-ref-palette-neutral94: #ECEEF4;
  -md-ref-palette-neutral95: #EFF0F7;
  -md-ref-palette-neutral96: #F2F3FA;
  -md-ref-palette-neutral98: #F8F9FF;
  -md-ref-palette-neutral99: #FDFCFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #0A0F14;
  -md-ref-palette-neutral-variant5: #0D1117;
  -md-ref-palette-neutral-variant6: #0F141A;
  -md-ref-palette-neutral-variant10: #171C22;
  -md-ref-palette-neutral-variant12: #1B2026;
  -md-ref-palette-neutral-variant15: #22262C;
  -md-ref-palette-neutral-variant17: #262A31;
  -md-ref-palette-neutral-variant20: #2C3137;
  -md-ref-palette-neutral-variant24: #353940;
  -md-ref-palette-neutral-variant25: #373C43;
  -md-ref-palette-neutral-variant30: #43474E;
  -md-ref-palette-neutral-variant35: #4E535A;
  -md-ref-palette-neutral-variant40: #5A5F66;
  -md-ref-palette-neutral-variant50: #73777F;
  -md-ref-palette-neutral-variant60: #8D9199;
  -md-ref-palette-neutral-variant70: #A7ABB4;
  -md-ref-palette-neutral-variant80: #C3C7CF;
  -md-ref-palette-neutral-variant87: #D6DAE3;
  -md-ref-palette-neutral-variant90: #DFE2EB;
  -md-ref-palette-neutral-variant92: #E5E8F1;
  -md-ref-palette-neutral-variant94: #EAEEF7;
  -md-ref-palette-neutral-variant95: #EDF1FA;
  -md-ref-palette-neutral-variant96: #F0F4FC;
  -md-ref-palette-neutral-variant98: #F8F9FF;
  -md-ref-palette-neutral-variant99: #FDFCFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #36618E;
  -md-sys-color-surface-tint: #36618E;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #D1E4FF;
  -md-sys-color-on-primary-container: #194975;
  -md-sys-color-primary-fixed: #D1E4FF;
  -md-sys-color-on-primary-fixed: #001D36;
  -md-sys-color-primary-fixed-dim: #A0CAFD;
  -md-sys-color-on-primary-fixed-variant: #194975;
  -md-sys-color-inverse-primary: #A0CAFD;
  -md-sys-color-secondary: #535F70;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #D7E3F7;
  -md-sys-color-on-secondary-container: #3B4858;
  -md-sys-color-secondary-fixed: #D7E3F7;
  -md-sys-color-on-secondary-fixed: #101C2B;
  -md-sys-color-secondary-fixed-dim: #BBC7DB;
  -md-sys-color-on-secondary-fixed-variant: #3B4858;
  -md-sys-color-tertiary: #6B5778;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #F2DAFF;
  -md-sys-color-on-tertiary-container: #523F5F;
  -md-sys-color-tertiary-fixed: #F2DAFF;
  -md-sys-color-on-tertiary-fixed: #251431;
  -md-sys-color-tertiary-fixed-dim: #D6BEE4;
  -md-sys-color-on-tertiary-fixed-variant: #523F5F;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #F8F9FF;
  -md-sys-color-on-background: #191C20;
  -md-sys-color-surface: #F8F9FF;
  -md-sys-color-on-surface: #191C20;
  -md-sys-color-surface-variant: #DFE2EB;
  -md-sys-color-on-surface-variant: #43474E;
  -md-sys-color-inverse-surface: #2E3135;
  -md-sys-color-inverse-on-surface: #EFF0F7;
  -md-sys-color-surface-dim: #D8DAE0;
  -md-sys-color-surface-bright: #F8F9FF;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F2F3FA;
  -md-sys-color-surface-container: #ECEEF4;
  -md-sys-color-surface-container-high: #E6E8EE;
  -md-sys-color-surface-container-highest: #E1E2E8;
  -md-sys-color-outline: #73777F;
  -md-sys-color-outline-variant: #C3C7CF;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #2196F3;
  -md-sys-color-primary: #A0CAFD;
  -md-sys-color-surface-tint: #A0CAFD;
  -md-sys-color-on-primary: #003258;
  -md-sys-color-primary-container: #194975;
  -md-sys-color-on-primary-container: #D1E4FF;
  -md-sys-color-primary-fixed: #D1E4FF;
  -md-sys-color-on-primary-fixed: #001D36;
  -md-sys-color-primary-fixed-dim: #A0CAFD;
  -md-sys-color-on-primary-fixed-variant: #194975;
  -md-sys-color-inverse-primary: #36618E;
  -md-sys-color-secondary: #BBC7DB;
  -md-sys-color-on-secondary: #253140;
  -md-sys-color-secondary-container: #3B4858;
  -md-sys-color-on-secondary-container: #D7E3F7;
  -md-sys-color-secondary-fixed: #D7E3F7;
  -md-sys-color-on-secondary-fixed: #101C2B;
  -md-sys-color-secondary-fixed-dim: #BBC7DB;
  -md-sys-color-on-secondary-fixed-variant: #3B4858;
  -md-sys-color-tertiary: #D6BEE4;
  -md-sys-color-on-tertiary: #3B2948;
  -md-sys-color-tertiary-container: #523F5F;
  -md-sys-color-on-tertiary-container: #F2DAFF;
  -md-sys-color-tertiary-fixed: #F2DAFF;
  -md-sys-color-on-tertiary-fixed: #251431;
  -md-sys-color-tertiary-fixed-dim: #D6BEE4;
  -md-sys-color-on-tertiary-fixed-variant: #523F5F;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #111418;
  -md-sys-color-on-background: #E1E2E8;
  -md-sys-color-surface: #111418;
  -md-sys-color-on-surface: #E1E2E8;
  -md-sys-color-surface-variant: #43474E;
  -md-sys-color-on-surface-variant: #C3C7CF;
  -md-sys-color-inverse-surface: #E1E2E8;
  -md-sys-color-inverse-on-surface: #2E3135;
  -md-sys-color-surface-dim: #111418;
  -md-sys-color-surface-bright: #36393E;
  -md-sys-color-surface-container-lowest: #0B0E13;
  -md-sys-color-surface-container-low: #191C20;
  -md-sys-color-surface-container: #1D2024;
  -md-sys-color-surface-container-high: #272A2F;
  -md-sys-color-surface-container-highest: #32353A;
  -md-sys-color-outline: #8D9199;
  -md-sys-color-outline-variant: #43474E;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
