.root {
  /*! Palette */
  -md-source: #6750A4;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary10: #22005D;
  -md-ref-palette-primary20: #381E72;
  -md-ref-palette-primary30: #4F378A;
  -md-ref-palette-primary40: #6750A4;
  -md-ref-palette-primary50: #8069BF;
  -md-ref-palette-primary60: #9A83DB;
  -md-ref-palette-primary70: #B69DF8;
  -md-ref-palette-primary80: #CFBCFF;
  -md-ref-palette-primary90: #E9DDFF;
  -md-ref-palette-primary95: #F6EEFF;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary10: #1E192B;
  -md-ref-palette-secondary20: #332D41;
  -md-ref-palette-secondary30: #4A4458;
  -md-ref-palette-secondary40: #625B71;
  -md-ref-palette-secondary50: #7B748A;
  -md-ref-palette-secondary60: #958DA4;
  -md-ref-palette-secondary70: #B0A7C0;
  -md-ref-palette-secondary80: #CBC2DB;
  -md-ref-palette-secondary90: #E8DEF8;
  -md-ref-palette-secondary95: #F6EEFF;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary10: #31101D;
  -md-ref-palette-tertiary20: #4A2532;
  -md-ref-palette-tertiary30: #633B48;
  -md-ref-palette-tertiary40: #7E5260;
  -md-ref-palette-tertiary50: #996A79;
  -md-ref-palette-tertiary60: #B58392;
  -md-ref-palette-tertiary70: #D29DAD;
  -md-ref-palette-tertiary80: #EFB8C8;
  -md-ref-palette-tertiary90: #FFD9E3;
  -md-ref-palette-tertiary95: #FFECF0;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0F0E11;
  -md-ref-palette-neutral6: #141316;
  -md-ref-palette-neutral10: #1C1B1E;
  -md-ref-palette-neutral12: #201F22;
  -md-ref-palette-neutral17: #2B292D;
  -md-ref-palette-neutral20: #313033;
  -md-ref-palette-neutral22: #363438;
  -md-ref-palette-neutral24: #3A383C;
  -md-ref-palette-neutral30: #48464A;
  -md-ref-palette-neutral40: #605D62;
  -md-ref-palette-neutral50: #79767A;
  -md-ref-palette-neutral60: #938F94;
  -md-ref-palette-neutral70: #AEAAAE;
  -md-ref-palette-neutral80: #CAC5CA;
  -md-ref-palette-neutral87: #DDD8DD;
  -md-ref-palette-neutral90: #E6E1E6;
  -md-ref-palette-neutral92: #ECE7EB;
  -md-ref-palette-neutral94: #F2ECF1;
  -md-ref-palette-neutral95: #F4EFF4;
  -md-ref-palette-neutral96: #F7F2F7;
  -md-ref-palette-neutral98: #FDF8FD;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant10: #1D1A22;
  -md-ref-palette-neutral-variant20: #322F38;
  -md-ref-palette-neutral-variant30: #49454E;
  -md-ref-palette-neutral-variant40: #615D66;
  -md-ref-palette-neutral-variant50: #7A757F;
  -md-ref-palette-neutral-variant60: #948F99;
  -md-ref-palette-neutral-variant70: #AFA9B4;
  -md-ref-palette-neutral-variant80: #CAC4CF;
  -md-ref-palette-neutral-variant90: #E7E0EB;
  -md-ref-palette-neutral-variant95: #F5EEFA;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;
  /*! Scheme */
  -md-sys-color-primary: #CFBCFF;
  -md-sys-color-primary-container: #4F378A;
  -md-sys-color-on-primary: #381E72;
  -md-sys-color-on-primary-container: #E9DDFF;
  -md-sys-color-inverse-primary: #6750A4;
  -md-sys-color-secondary: #CBC2DB;
  -md-sys-color-secondary-container: #4A4458;
  -md-sys-color-on-secondary: #332D41;
  -md-sys-color-on-secondary-container: #E8DEF8;
  -md-sys-color-tertiary: #EFB8C8;
  -md-sys-color-tertiary-container: #633B48;
  -md-sys-color-on-tertiary: #4A2532;
  -md-sys-color-on-tertiary-container: #FFD9E3;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error: #690005;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-surface: #141316;
  -md-sys-color-surface-dim: #141316;
  -md-sys-color-surface-bright: #3A383C;
  -md-sys-color-surface-container-lowest: #0F0E11;
  -md-sys-color-surface-container-low: #1C1B1E;
  -md-sys-color-surface-container: #201F22;
  -md-sys-color-surface-container-high: #2B292D;
  -md-sys-color-surface-container-highest: #363438;
  -md-sys-color-surface-variant: #49454E;
  -md-sys-color-on-surface: #E6E1E6;
  -md-sys-color-on-surface-variant: #CAC4CF;
  -md-sys-color-inverse-surface: #E6E1E6;
  -md-sys-color-inverse-on-surface: #313033;
  -md-sys-color-surface-tint: #CFBCFF;
  -md-sys-color-background: #141316;
  -md-sys-color-on-background: #E6E1E6;
  -md-sys-color-outline: #948F99;
  -md-sys-color-outline-variant: #49454E;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000
}

/*!***************************************************************************************************
 * Surfaces (a.k.a fancy backgrounds)
 ****************************************************************************************************/
.surface {
  -mfx-hover-opacity: 8%;
  -mfx-focus-opacity: 10%;
  -mfx-press-opacity: 10%
}

/*!***************************************************************************************************
 * Buttons Shared Styles
 ****************************************************************************************************/
.mfx-button {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-alignment: CENTER;
  -fx-background-radius: 20px;
  -fx-padding: 0px 24px 0px 24px;
  -fx-graphic-text-gap: 8px
}

.mfx-button > .label > .mfx-font-icon {
  -mfx-size: 18px
}

.mfx-button > .surface > .bg {
  -fx-background-radius: 20px
}

.mfx-button:with-icon-left {
  -fx-padding: 0px 24px 0px 16px
}

.mfx-button:with-icon-right {
  -fx-padding: 0px 16px 0px 24px
}

.mfx-button.elevated:disabled,
.mfx-button.filled-tonal:disabled,
.mfx-button.filled:disabled,
.mfx-button.outlined:disabled,
.mfx-button.text:disabled {
  -fx-background-color: rgba(230, 225, 230, 0.12);
  -fx-text-fill: #E6E1E6
}

.mfx-button:disabled > .label {
  -fx-opacity: 38%
}

.mfx-button:disabled > .label > .mfx-font-icon {
  -mfx-color: #E6E1E6
}

.mfx-button:disabled > .surface {
  -mfx-elevation: LEVEL0
}

/*!***************************************************************************************************
 * Elevated Buttons
 ****************************************************************************************************/
.mfx-button.elevated {
  -fx-background-color: #1C1B1E;
  -fx-text-fill: #CFBCFF
}

.mfx-button.elevated > .label > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-button.elevated > .surface {
  -mfx-elevation: LEVEL1
}

.mfx-button.elevated > .surface > .bg {
  -fx-background-color: #CFBCFF
}

.mfx-button.elevated > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(207, 188, 255, 0.1)
}

.mfx-button.elevated:hover > .surface {
  -mfx-elevation: LEVEL2
}

/*!***************************************************************************************************
 * Filled Buttons
 ****************************************************************************************************/
.mfx-button.filled {
  -fx-background-color: #CFBCFF;
  -fx-text-fill: #381E72
}

.mfx-button.filled > .label > .mfx-font-icon {
  -mfx-color: #381E72
}

.mfx-button.filled > .surface {
  -mfx-elevation: LEVEL0
}

.mfx-button.filled > .surface > .bg {
  -fx-background-color: #381E72
}

.mfx-button.filled > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(56, 30, 114, 0.1)
}

.mfx-button.filled:hover > .surface {
  -mfx-elevation: LEVEL1
}

/*!***************************************************************************************************
 * Filled Tonal Buttons
 ****************************************************************************************************/
.mfx-button.filled-tonal {
  -fx-background-color: #4A4458;
  -fx-text-fill: #E8DEF8
}

.mfx-button.filled-tonal > .label > .mfx-font-icon {
  -mfx-color: #E8DEF8
}

.mfx-button.filled-tonal > .surface {
  -mfx-elevation: LEVEL0
}

.mfx-button.filled-tonal > .surface > .bg {
  -fx-background-color: #E8DEF8
}

.mfx-button.filled-tonal > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(232, 222, 248, 0.1)
}

.mfx-button.filled-tonal:hover > .surface {
  -mfx-elevation: LEVEL1
}

/*!***************************************************************************************************
 * Outlined Buttons
 ****************************************************************************************************/
.mfx-button.outlined {
  -fx-background-color: transparent;
  -fx-border-color: #948F99;
  -fx-border-radius: 20px;
  -fx-border-width: 1px;
  -fx-text-fill: #CFBCFF
}

.mfx-button.outlined > .label > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-button.outlined > .surface > .bg {
  -fx-background-color: #CFBCFF
}

.mfx-button.outlined > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(207, 188, 255, 0.1)
}

.mfx-button.outlined:focused {
  -fx-border-color: #CFBCFF
}

.mfx-button.outlined:disabled {
  -fx-background-color: transparent;
  -fx-border-color: rgba(148, 143, 153, 0.38)
}

.mfx-button.text {
  -fx-background-color: transparent;
  -fx-text-fill: #CFBCFF;
  -fx-padding: 0px 12px 0px 12px
}

.mfx-button.text > .label > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-button.text > .surface > .bg {
  -fx-background-color: #CFBCFF
}

.mfx-button.text > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(207, 188, 255, 0.1)
}

.mfx-button.text:with-icon-left {
  -fx-padding: 0px 16px 0px 12px
}

.mfx-button.text:with-icon-right {
  -fx-padding: 0px 12px 0px 16px
}

.mfx-button.text:disabled {
  -fx-background-color: transparent
}

/*!***************************************************************************************************
 * Checkboxes
 ****************************************************************************************************/
.mfx-checkbox {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-text-fill: #E6E1E6
}

.mfx-checkbox > .mfx-icon-wrapper {
  -fx-background-radius: 2px;
  -fx-border-radius: 2px;
  -fx-border-width: 2px;
  -mfx-size: 18px;
  -mfx-animation-preset: CLIP;
  -fx-border-color: #CAC4CF
}

.mfx-checkbox > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-size: 12px;
  visibility: hidden
}

.mfx-checkbox > .surface {
  -fx-pref-width: 40px;
  -fx-pref-height: 40px
}

.mfx-checkbox > .surface > .bg {
  -fx-background-radius: 999px;
  -fx-background-color: #CFBCFF
}

.mfx-checkbox > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(207, 188, 255, 0.1)
}

.mfx-checkbox:indeterminate > .mfx-icon-wrapper {
  -fx-border-width: 0px;
  -fx-background-color: #CFBCFF
}

.mfx-checkbox:selected > .mfx-icon-wrapper {
  -fx-border-width: 0px;
  -fx-background-color: #CFBCFF
}

.mfx-checkbox:indeterminate > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-checkbox:selected > .mfx-icon-wrapper > .mfx-font-icon {
  visibility: visible;
  -mfx-color: #381E72
}

.mfx-checkbox:error > .mfx-icon-wrapper {
  -fx-border-color: #FFB4AB
}

.mfx-checkbox:error > .surface > .bg {
  -fx-background-color: #FFB4AB
}

.mfx-checkbox:error > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(255, 180, 171, 0.1)
}

.mfx-checkbox:indeterminate:error > .mfx-icon-wrapper,
.mfx-checkbox:selected:error > .mfx-icon-wrapper {
  -fx-background-color: #FFB4AB
}

.mfx-checkbox:selected:error > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #690005
}

.mfx-checkbox:disabled > .mfx-icon-wrapper {
  -fx-border-color: rgba(230, 225, 230, 0.38);
  -fx-background-color: transparent
}

.mfx-checkbox:indeterminate:disabled > .mfx-icon-wrapper,
.mfx-checkbox:selected:disabled > .mfx-icon-wrapper {
  -fx-background-color: rgba(230, 225, 230, 0.38)
}

/*!***************************************************************************************************
 * FABs Shared Properties
 ****************************************************************************************************/
.mfx-button.fab,
.mfx-button.fab:extended {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-background-radius: 16px;
  -fx-graphic-text-gap: 8px;
  -fx-padding: 16px
}

.mfx-button.fab > .label > .mfx-font-icon,
.mfx-button.fab:extended > .label > .mfx-font-icon {
  -mfx-size: 24px
}

.mfx-button.fab > .surface,
.mfx-button.fab:extended > .surface {
  -mfx-elevation: LEVEL3
}

.mfx-button.fab > .surface > .bg,
.mfx-button.fab:extended > .surface > .bg {
  -fx-background-radius: 16px
}

.mfx-button.fab:extended:hover > .surface,
.mfx-button.fab:hover > .surface {
  -mfx-elevation: LEVEL4
}

.mfx-button.fab:disabled > .label,
.mfx-button.fab:extended:disabled > .label {
  -fx-opacity: 1
}

.mfx-button.fab.small {
  -fx-background-radius: 12px;
  -fx-padding: 0px
}

.mfx-button.fab.small > .surface > .bg {
  -fx-background-radius: 12px
}

.mfx-button.fab.large {
  -fx-background-radius: 28px
}

.mfx-button.fab.large > .label > .mfx-font-icon {
  -mfx-size: 36px
}

.mfx-button.fab.large > .surface > .bg {
  -fx-background-radius: 28px
}

.mfx-button.fab.lowered > .surface,
.mfx-button.fab.lowered:extended > .surface {
  -mfx-elevation: LEVEL1
}

.mfx-button.fab.lowered:extended:hover > .surface,
.mfx-button.fab.lowered:hover > .surface {
  -mfx-elevation: LEVEL2
}

/*!***************************************************************************************************
 * Primary FABs
 ****************************************************************************************************/
.mfx-button.fab {
  -fx-background-color: #4F378A;
  -fx-text-fill: #E9DDFF
}

.mfx-button.fab > .label > .mfx-font-icon {
  -mfx-color: #E9DDFF
}

.mfx-button.fab > .surface > .bg {
  -fx-background-color: #E9DDFF
}

.mfx-button.fab > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(233, 221, 255, 0.1)
}

/*!***************************************************************************************************
 * Secondary FABs
 ****************************************************************************************************/
.mfx-button.fab.secondary {
  -fx-background-color: #4A4458;
  -fx-text-fill: #E8DEF8
}

.mfx-button.fab.secondary > .label > .mfx-font-icon {
  -mfx-color: #E8DEF8
}

.mfx-button.fab.secondary > .surface > .bg {
  -fx-background-color: #E8DEF8
}

.mfx-button.fab.secondary > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(232, 222, 248, 0.1)
}

/*!***************************************************************************************************
 * Tertiary FABs
 ****************************************************************************************************/
.mfx-button.fab.tertiary {
  -fx-background-color: #633B48;
  -fx-text-fill: #FFD9E3
}

.mfx-button.fab.tertiary > .label > .mfx-font-icon {
  -mfx-color: #FFD9E3
}

.mfx-button.fab.tertiary > .surface > .bg {
  -fx-background-color: #FFD9E3
}

.mfx-button.fab.tertiary > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(255, 217, 227, 0.1)
}

/*!***************************************************************************************************
 * Surface FABs
 ****************************************************************************************************/
.mfx-button.fab.surface {
  -fx-background-color: #2B292D;
  -fx-text-fill: #CFBCFF
}

.mfx-button.fab.surface > .label > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-button.fab.surface > .surface > .bg {
  -fx-background-color: #CFBCFF
}

.mfx-button.fab.surface > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(207, 188, 255, 0.1)
}

.mfx-button.fab.surface.lowered {
  -fx-background-color: #1C1B1E;
  -fx-text-fill: #CFBCFF
}

/*!**************************************************************************************************
 * IconButtons Shared Properties
 ****************************************************************************************************/
.mfx-icon-button,
.mfx-icon-button.filled,
.mfx-icon-button.filled-tonal,
.mfx-icon-button.outlined {
  -fx-background-radius: 999px;
  -mfx-size: 40px;
  -fx-padding: 4px
}

.mfx-icon-button > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled-tonal > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.outlined > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-size: 24px
}

.mfx-icon-button > .surface > .bg,
.mfx-icon-button.filled > .surface > .bg,
.mfx-icon-button.filled-tonal > .surface > .bg,
.mfx-icon-button.outlined > .surface > .bg {
  -fx-background-radius: 999px
}

.mfx-icon-button.filled-tonal:disabled,
.mfx-icon-button.filled:disabled,
.mfx-icon-button.outlined:disabled,
.mfx-icon-button:disabled {
  -fx-background-color: rgba(230, 225, 230, 0.12)
}

.mfx-icon-button.filled-tonal:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.outlined:disabled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button:disabled > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #E6E1E6;
  -fx-opacity: 38%
}

/*!***************************************************************************************************
 * Standard IconButtons
 ****************************************************************************************************/
.mfx-icon-button {
  -fx-background-color: transparent
}

.mfx-icon-button > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #CAC4CF
}

.mfx-icon-button > .surface > .bg {
  -fx-background-color: #CAC4CF
}

.mfx-icon-button > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(202, 196, 207, 0.1)
}

.mfx-icon-button:selectable:selected {
  -fx-background-color: transparent
}

.mfx-icon-button:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-icon-button:selectable:selected > .surface > .bg {
  -fx-background-color: #CFBCFF
}

.mfx-icon-button:disabled {
  -fx-background-color: transparent
}

.mfx-icon-button:disabled > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #E6E1E6
}

/*!***************************************************************************************************
 * Filled IconButtons
 ****************************************************************************************************/
.mfx-icon-button.filled,
.mfx-icon-button.filled:selectable:selected {
  -fx-background-color: #CFBCFF
}

.mfx-icon-button.filled > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #381E72
}

.mfx-icon-button.filled > .surface > .bg,
.mfx-icon-button.filled:selectable:selected > .surface > .bg {
  -fx-background-color: #381E72
}

.mfx-icon-button.filled > .surface > .mfx-ripple-generator,
.mfx-icon-button.filled:selectable:selected > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(56, 30, 114, 0.1)
}

.mfx-icon-button.filled:selectable {
  -fx-background-color: #363438
}

.mfx-icon-button.filled:selectable > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #CFBCFF
}

.mfx-icon-button.filled:selectable > .surface > .bg {
  -fx-background-color: #CFBCFF
}

/*!***************************************************************************************************
 * Filled Tonal IconButtons
 ****************************************************************************************************/
.mfx-icon-button.filled-tonal,
.mfx-icon-button.filled-tonal:selectable:selected {
  -fx-background-color: #4A4458
}

.mfx-icon-button.filled-tonal > .mfx-icon-wrapper > .mfx-font-icon,
.mfx-icon-button.filled-tonal:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #E8DEF8
}

.mfx-icon-button.filled-tonal > .surface > .bg,
.mfx-icon-button.filled-tonal:selectable:selected > .surface > .bg {
  -fx-background-color: #E8DEF8
}

.mfx-icon-button.filled-tonal > .surface > .mfx-ripple-generator,
.mfx-icon-button.filled-tonal:selectable:selected > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(202, 196, 207, 0.1)
}

.mfx-icon-button.filled-tonal:selectable {
  -fx-background-color: #363438
}

.mfx-icon-button.filled-tonal:selectable > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #CAC4CF
}

.mfx-icon-button.filled-tonal:selectable > .surface > .bg {
  -fx-background-color: #CAC4CF
}

/*!***************************************************************************************************
 * Outlined IconButtons
 ****************************************************************************************************/
.mfx-icon-button.outlined {
  -fx-background-color: transparent;
  -fx-border-color: #948F99;
  -fx-border-radius: 999px
}

.mfx-icon-button.outlined > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #CAC4CF
}

.mfx-icon-button.outlined > .surface > .bg {
  -fx-background-color: #CAC4CF
}

.mfx-icon-button.outlined > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(202, 196, 207, 0.1)
}

.mfx-icon-button.outlined:selectable:selected {
  -fx-background-color: #E6E1E6;
  -fx-border-color: transparent
}

.mfx-icon-button.outlined:selectable:selected > .mfx-icon-wrapper > .mfx-font-icon {
  -mfx-color: #313033
}

.mfx-icon-button.outlined:selectable:selected > .surface > .bg {
  -fx-background-color: #313033
}

/*!***************************************************************************************************
 * Circular Progress Indicators
 ****************************************************************************************************/
.mfx-progress-indicator > .container > .arc {
  -fx-stroke-line-cap: ROUND;
  -fx-stroke-line-join: ROUND;
  -fx-stroke-type: CENTERED;
  -fx-stroke-width: 4px;
  -fx-fill: transparent;
  -fx-stroke: #CFBCFF
}

.mfx-progress-indicator > .container > .arc.track {
  -fx-stroke: #4A4458
}

.mfx-progress-indicator:indeterminate > .container > .arc.left {
  -fx-stroke: #CFBCFF
}

/*!***************************************************************************************************
 * Linear Progress Indicators
 ****************************************************************************************************/
.mfx-progress-indicator > .bar,
.mfx-progress-indicator > .stop {
  -fx-background-radius: 4px;
  -fx-background-color: #CFBCFF
}

.mfx-progress-indicator > .segment {
  -fx-background-radius: 4px;
  -fx-background-color: #4A4458
}

/*!***************************************************************************************************
 * Segmented Buttons
 ****************************************************************************************************/
.mfx-segmented-button > .segment {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-border-insets: -1px;
  -fx-graphic-text-gap: 8px;
  -fx-padding: 4px 12px 4px 12px;
  -fx-border-color: #948F99;
  -fx-background-color: transparent;
  -fx-text-fill: #E6E1E6
}

.mfx-segmented-button > .segment > .label > .mfx-font-icon {
  -mfx-color: #E6E1E6
}

.mfx-segmented-button > .segment > .surface > .bg {
  -fx-background-color: #E6E1E6
}

.mfx-segmented-button > .segment > .surface > .mfx-ripple-generator {
  -mfx-ripple-color: rgba(230, 225, 230, 0.1)
}

.mfx-segmented-button > .segment:first {
  -fx-border-radius: 999px 0px 0px 999px;
  -fx-background-radius: 999px 0px 0px 999px
}

.mfx-segmented-button > .segment:first > .surface > .bg {
  -fx-background-radius: 999px 0px 0px 999px
}

.mfx-segmented-button > .segment:last {
  -fx-border-radius: 0px 999px 999px 0px;
  -fx-background-radius: 0px 999px 999px 0px
}

.mfx-segmented-button > .segment:last > .surface > .bg {
  -fx-background-radius: 0px 999px 999px 0px
}

.mfx-segmented-button > .segment:selected {
  -fx-background-color: #4A4458;
  -fx-text-fill: #E8DEF8
}

.mfx-segmented-button > .segment:selected > .label > .mfx-font-icon {
  -mfx-description: "fas-check";
  -mfx-color: #E8DEF8
}

.mfx-segmented-button > .segment:selected > .surface > .bg {
  -fx-background-color: #E8DEF8
}

.mfx-segmented-button > .segment:disabled {
  -fx-border-color: rgba(148, 143, 153, 0.12);
  -fx-text-fill: rgba(230, 225, 230, 0.38)
}

.mfx-segmented-button > .segment:disabled > .label {
  -fx-opacity: 1
}

.mfx-segmented-button > .segment:disabled > .label > .mfx-font-icon {
  -mfx-color: rgba(230, 225, 230, 0.38)
}

.mfx-segmented-button > .segment:selected:disabled {
  -fx-text-fill: rgba(232, 222, 248, 0.38)
}

.mfx-segmented-button > .segment:selected:disabled > .label > .mfx-font-icon {
  -mfx-color: rgba(232, 222, 248, 0.38)
}

.mfx-popup .content,
.mfx-tooltip .content {
  -mfx-offset: "8 8"
}

.mfx-popup .content > .plain,
.mfx-tooltip .content > .plain {
  -fx-min-height: 24px;
  -fx-padding: 8px;
  -fx-background-color: #E6E1E6;
  -fx-background-radius: "4px"
}

.mfx-popup .content > .plain > .label,
.mfx-tooltip .content > .plain > .label {
  -fx-font-family: "Roboto";
  -fx-font-weight: 400;
  -fx-font-size: 12px;
  -fx-wrap-text: true;
  -fx-wrapping-width: 200px;
  -fx-text-fill: #313033
}

.mfx-popup .content > .rich,
.mfx-tooltip .content > .rich {
  -fx-padding: 12px 16px 8px 16px;
  -fx-spacing: 8px;
  -mfx-elevation: LEVEL2;
  -fx-background-color: #201F22;
  -fx-background-radius: "12px"
}

.mfx-popup .content > .rich > .header,
.mfx-tooltip .content > .rich > .header {
  -fx-font-family: "Roboto Medium";
  -fx-font-weight: 500;
  -fx-font-size: 14px;
  -fx-text-fill: #CAC4CF
}

.mfx-popup .content > .rich > .label,
.mfx-tooltip .content > .rich > .label {
  -fx-font-family: "Roboto";
  -fx-font-weight: 400;
  -fx-font-size: 14px;
  -fx-wrapping-width: 300px;
  -fx-text-fill: #CAC4CF
}

.mfx-popup .content > .rich > .actions,
.mfx-tooltip .content > .rich > .actions {
  -fx-padding: 8px 0px 0px 0px;
  -fx-spacing: 8px
}