.root {
  /* Light */
  -md-seed: #009688;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #00110F;
  -md-ref-palette-primary5: #001411;
  -md-ref-palette-primary6: #001714;
  -md-ref-palette-primary10: #00201C;
  -md-ref-palette-primary12: #002520;
  -md-ref-palette-primary15: #002C27;
  -md-ref-palette-primary17: #00302B;
  -md-ref-palette-primary20: #003731;
  -md-ref-palette-primary24: #00413A;
  -md-ref-palette-primary25: #00443D;
  -md-ref-palette-primary30: #005048;
  -md-ref-palette-primary35: #005D54;
  -md-ref-palette-primary40: #006A60;
  -md-ref-palette-primary50: #2C8479;
  -md-ref-palette-primary60: #4A9E93;
  -md-ref-palette-primary70: #66B9AD;
  -md-ref-palette-primary80: #82D5C8;
  -md-ref-palette-primary87: #96E9DC;
  -md-ref-palette-primary90: #9EF2E4;
  -md-ref-palette-primary92: #A4F8EA;
  -md-ref-palette-primary94: #A9FDF0;
  -md-ref-palette-primary95: #B4FFF2;
  -md-ref-palette-primary96: #C5FFF4;
  -md-ref-palette-primary98: #E4FFF9;
  -md-ref-palette-primary99: #F2FFFB;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #00110F;
  -md-ref-palette-secondary5: #001411;
  -md-ref-palette-secondary6: #001714;
  -md-ref-palette-secondary10: #05201C;
  -md-ref-palette-secondary12: #0A2420;
  -md-ref-palette-secondary15: #112A26;
  -md-ref-palette-secondary17: #152E2A;
  -md-ref-palette-secondary20: #1C3531;
  -md-ref-palette-secondary24: #253E3A;
  -md-ref-palette-secondary25: #27403C;
  -md-ref-palette-secondary30: #334B47;
  -md-ref-palette-secondary35: #3E5753;
  -md-ref-palette-secondary40: #4A635F;
  -md-ref-palette-secondary50: #627C77;
  -md-ref-palette-secondary60: #7C9691;
  -md-ref-palette-secondary70: #96B1AB;
  -md-ref-palette-secondary80: #B1CCC6;
  -md-ref-palette-secondary87: #C4E0DA;
  -md-ref-palette-secondary90: #CCE8E2;
  -md-ref-palette-secondary92: #D2EEE8;
  -md-ref-palette-secondary94: #D8F4EE;
  -md-ref-palette-secondary95: #DAF7F0;
  -md-ref-palette-secondary96: #DDFAF3;
  -md-ref-palette-secondary98: #E4FFF9;
  -md-ref-palette-secondary99: #F2FFFB;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #000F1D;
  -md-ref-palette-tertiary5: #001221;
  -md-ref-palette-tertiary6: #001525;
  -md-ref-palette-tertiary10: #001E31;
  -md-ref-palette-tertiary12: #002237;
  -md-ref-palette-tertiary15: #07283E;
  -md-ref-palette-tertiary17: #0D2C42;
  -md-ref-palette-tertiary20: #153349;
  -md-ref-palette-tertiary24: #1F3C52;
  -md-ref-palette-tertiary25: #213E55;
  -md-ref-palette-tertiary30: #2D4961;
  -md-ref-palette-tertiary35: #39556D;
  -md-ref-palette-tertiary40: #456179;
  -md-ref-palette-tertiary50: #5E7A93;
  -md-ref-palette-tertiary60: #7894AE;
  -md-ref-palette-tertiary70: #92AEC9;
  -md-ref-palette-tertiary80: #ADCAE6;
  -md-ref-palette-tertiary87: #C0DDFA;
  -md-ref-palette-tertiary90: #CCE5FF;
  -md-ref-palette-tertiary92: #D7EAFF;
  -md-ref-palette-tertiary94: #E2EFFF;
  -md-ref-palette-tertiary95: #E7F2FF;
  -md-ref-palette-tertiary96: #ECF4FF;
  -md-ref-palette-tertiary98: #F7F9FF;
  -md-ref-palette-tertiary99: #FCFCFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #090F0E;
  -md-ref-palette-neutral5: #0C1211;
  -md-ref-palette-neutral6: #0E1513;
  -md-ref-palette-neutral10: #161D1C;
  -md-ref-palette-neutral12: #1A2120;
  -md-ref-palette-neutral15: #212726;
  -md-ref-palette-neutral17: #252B2A;
  -md-ref-palette-neutral20: #2B3230;
  -md-ref-palette-neutral24: #343B39;
  -md-ref-palette-neutral25: #363D3B;
  -md-ref-palette-neutral30: #414846;
  -md-ref-palette-neutral35: #4D5452;
  -md-ref-palette-neutral40: #59605E;
  -md-ref-palette-neutral50: #727876;
  -md-ref-palette-neutral60: #8B9290;
  -md-ref-palette-neutral70: #A6ADAA;
  -md-ref-palette-neutral80: #C1C8C5;
  -md-ref-palette-neutral87: #D5DBD9;
  -md-ref-palette-neutral90: #DDE4E1;
  -md-ref-palette-neutral92: #E3EAE7;
  -md-ref-palette-neutral94: #E9EFED;
  -md-ref-palette-neutral95: #ECF2EF;
  -md-ref-palette-neutral96: #EFF5F2;
  -md-ref-palette-neutral98: #F4FBF8;
  -md-ref-palette-neutral99: #F7FEFB;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #07100E;
  -md-ref-palette-neutral-variant5: #091311;
  -md-ref-palette-neutral-variant6: #0C1513;
  -md-ref-palette-neutral-variant10: #141D1C;
  -md-ref-palette-neutral-variant12: #182120;
  -md-ref-palette-neutral-variant15: #1E2826;
  -md-ref-palette-neutral-variant17: #222C2A;
  -md-ref-palette-neutral-variant20: #293230;
  -md-ref-palette-neutral-variant24: #313B39;
  -md-ref-palette-neutral-variant25: #343D3B;
  -md-ref-palette-neutral-variant30: #3F4947;
  -md-ref-palette-neutral-variant35: #4B5452;
  -md-ref-palette-neutral-variant40: #56605E;
  -md-ref-palette-neutral-variant50: #6F7977;
  -md-ref-palette-neutral-variant60: #899390;
  -md-ref-palette-neutral-variant70: #A3ADAA;
  -md-ref-palette-neutral-variant80: #BEC9C6;
  -md-ref-palette-neutral-variant87: #D2DCD9;
  -md-ref-palette-neutral-variant90: #DAE5E1;
  -md-ref-palette-neutral-variant92: #E0EAE7;
  -md-ref-palette-neutral-variant94: #E6F0ED;
  -md-ref-palette-neutral-variant95: #E9F3F0;
  -md-ref-palette-neutral-variant96: #EBF6F2;
  -md-ref-palette-neutral-variant98: #F1FCF8;
  -md-ref-palette-neutral-variant99: #F4FFFB;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #006A60;
  -md-sys-color-surface-tint: #006A60;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #9EF2E4;
  -md-sys-color-on-primary-container: #005048;
  -md-sys-color-primary-fixed: #9EF2E4;
  -md-sys-color-on-primary-fixed: #00201C;
  -md-sys-color-primary-fixed-dim: #82D5C8;
  -md-sys-color-on-primary-fixed-variant: #005048;
  -md-sys-color-inverse-primary: #82D5C8;
  -md-sys-color-secondary: #4A635F;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #CCE8E2;
  -md-sys-color-on-secondary-container: #334B47;
  -md-sys-color-secondary-fixed: #CCE8E2;
  -md-sys-color-on-secondary-fixed: #05201C;
  -md-sys-color-secondary-fixed-dim: #B1CCC6;
  -md-sys-color-on-secondary-fixed-variant: #334B47;
  -md-sys-color-tertiary: #456179;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #CCE5FF;
  -md-sys-color-on-tertiary-container: #2D4961;
  -md-sys-color-tertiary-fixed: #CCE5FF;
  -md-sys-color-on-tertiary-fixed: #001E31;
  -md-sys-color-tertiary-fixed-dim: #ADCAE6;
  -md-sys-color-on-tertiary-fixed-variant: #2D4961;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #F4FBF8;
  -md-sys-color-on-background: #161D1C;
  -md-sys-color-surface: #F4FBF8;
  -md-sys-color-on-surface: #161D1C;
  -md-sys-color-surface-variant: #DAE5E1;
  -md-sys-color-on-surface-variant: #3F4947;
  -md-sys-color-inverse-surface: #2B3230;
  -md-sys-color-inverse-on-surface: #ECF2EF;
  -md-sys-color-surface-dim: #D5DBD9;
  -md-sys-color-surface-bright: #F4FBF8;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #EFF5F2;
  -md-sys-color-surface-container: #E9EFED;
  -md-sys-color-surface-container-high: #E3EAE7;
  -md-sys-color-surface-container-highest: #DDE4E1;
  -md-sys-color-outline: #6F7977;
  -md-sys-color-outline-variant: #BEC9C6;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #009688;
  -md-sys-color-primary: #82D5C8;
  -md-sys-color-surface-tint: #82D5C8;
  -md-sys-color-on-primary: #003731;
  -md-sys-color-primary-container: #005048;
  -md-sys-color-on-primary-container: #9EF2E4;
  -md-sys-color-primary-fixed: #9EF2E4;
  -md-sys-color-on-primary-fixed: #00201C;
  -md-sys-color-primary-fixed-dim: #82D5C8;
  -md-sys-color-on-primary-fixed-variant: #005048;
  -md-sys-color-inverse-primary: #006A60;
  -md-sys-color-secondary: #B1CCC6;
  -md-sys-color-on-secondary: #1C3531;
  -md-sys-color-secondary-container: #334B47;
  -md-sys-color-on-secondary-container: #CCE8E2;
  -md-sys-color-secondary-fixed: #CCE8E2;
  -md-sys-color-on-secondary-fixed: #05201C;
  -md-sys-color-secondary-fixed-dim: #B1CCC6;
  -md-sys-color-on-secondary-fixed-variant: #334B47;
  -md-sys-color-tertiary: #ADCAE6;
  -md-sys-color-on-tertiary: #153349;
  -md-sys-color-tertiary-container: #2D4961;
  -md-sys-color-on-tertiary-container: #CCE5FF;
  -md-sys-color-tertiary-fixed: #CCE5FF;
  -md-sys-color-on-tertiary-fixed: #001E31;
  -md-sys-color-tertiary-fixed-dim: #ADCAE6;
  -md-sys-color-on-tertiary-fixed-variant: #2D4961;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #0E1513;
  -md-sys-color-on-background: #DDE4E1;
  -md-sys-color-surface: #0E1513;
  -md-sys-color-on-surface: #DDE4E1;
  -md-sys-color-surface-variant: #3F4947;
  -md-sys-color-on-surface-variant: #BEC9C6;
  -md-sys-color-inverse-surface: #DDE4E1;
  -md-sys-color-inverse-on-surface: #2B3230;
  -md-sys-color-surface-dim: #0E1513;
  -md-sys-color-surface-bright: #343B39;
  -md-sys-color-surface-container-lowest: #090F0E;
  -md-sys-color-surface-container-low: #161D1C;
  -md-sys-color-surface-container: #1A2120;
  -md-sys-color-surface-container-high: #252B2A;
  -md-sys-color-surface-container-highest: #303635;
  -md-sys-color-outline: #899390;
  -md-sys-color-outline-variant: #3F4947;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
