.root {
  /* Light */
  -md-seed: #FF5722;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #230400;
  -md-ref-palette-primary5: #280500;
  -md-ref-palette-primary6: #2C0600;
  -md-ref-palette-primary10: #3A0B01;
  -md-ref-palette-primary12: #3F0F02;
  -md-ref-palette-primary15: #481506;
  -md-ref-palette-primary17: #4D1909;
  -md-ref-palette-primary20: #561F0F;
  -md-ref-palette-primary24: #612817;
  -md-ref-palette-primary25: #642A19;
  -md-ref-palette-primary30: #723523;
  -md-ref-palette-primary35: #81402D;
  -md-ref-palette-primary40: #8F4C38;
  -md-ref-palette-primary50: #AD634E;
  -md-ref-palette-primary60: #CB7C65;
  -md-ref-palette-primary70: #EA967E;
  -md-ref-palette-primary80: #FFB5A0;
  -md-ref-palette-primary87: #FFCFC2;
  -md-ref-palette-primary90: #FFDBD1;
  -md-ref-palette-primary92: #FFE2DA;
  -md-ref-palette-primary94: #FFE9E4;
  -md-ref-palette-primary95: #FFEDE8;
  -md-ref-palette-primary96: #FFF1ED;
  -md-ref-palette-primary98: #FFF8F6;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #1C0804;
  -md-ref-palette-secondary5: #200B06;
  -md-ref-palette-secondary6: #230D07;
  -md-ref-palette-secondary10: #2C150F;
  -md-ref-palette-secondary12: #311913;
  -md-ref-palette-secondary15: #381F18;
  -md-ref-palette-secondary17: #3D241C;
  -md-ref-palette-secondary20: #442A22;
  -md-ref-palette-secondary24: #4E322A;
  -md-ref-palette-secondary25: #50352D;
  -md-ref-palette-secondary30: #5D4037;
  -md-ref-palette-secondary35: #6A4B42;
  -md-ref-palette-secondary40: #77574E;
  -md-ref-palette-secondary50: #926F65;
  -md-ref-palette-secondary60: #AE887E;
  -md-ref-palette-secondary70: #CAA297;
  -md-ref-palette-secondary80: #E7BDB2;
  -md-ref-palette-secondary87: #FCD0C5;
  -md-ref-palette-secondary90: #FFDBD1;
  -md-ref-palette-secondary92: #FFE2DA;
  -md-ref-palette-secondary94: #FFE9E4;
  -md-ref-palette-secondary95: #FFEDE8;
  -md-ref-palette-secondary96: #FFF1ED;
  -md-ref-palette-secondary98: #FFF8F6;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #130E00;
  -md-ref-palette-tertiary5: #161000;
  -md-ref-palette-tertiary6: #191300;
  -md-ref-palette-tertiary10: #231B00;
  -md-ref-palette-tertiary12: #281F00;
  -md-ref-palette-tertiary15: #2F2500;
  -md-ref-palette-tertiary17: #342901;
  -md-ref-palette-tertiary20: #3B2F05;
  -md-ref-palette-tertiary24: #44380D;
  -md-ref-palette-tertiary25: #463A0F;
  -md-ref-palette-tertiary30: #534619;
  -md-ref-palette-tertiary35: #5F5124;
  -md-ref-palette-tertiary40: #6C5D2F;
  -md-ref-palette-tertiary50: #857645;
  -md-ref-palette-tertiary60: #A0905C;
  -md-ref-palette-tertiary70: #BCAA74;
  -md-ref-palette-tertiary80: #D8C58D;
  -md-ref-palette-tertiary87: #EDD99F;
  -md-ref-palette-tertiary90: #F5E1A7;
  -md-ref-palette-tertiary92: #FBE7AC;
  -md-ref-palette-tertiary94: #FFEDBA;
  -md-ref-palette-tertiary95: #FFF0C8;
  -md-ref-palette-tertiary96: #FFF3D5;
  -md-ref-palette-tertiary98: #FFF8F0;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #140C0A;
  -md-ref-palette-neutral5: #170F0D;
  -md-ref-palette-neutral6: #1A110F;
  -md-ref-palette-neutral10: #231917;
  -md-ref-palette-neutral12: #271D1B;
  -md-ref-palette-neutral15: #2D2421;
  -md-ref-palette-neutral17: #322825;
  -md-ref-palette-neutral20: #392E2B;
  -md-ref-palette-neutral24: #423734;
  -md-ref-palette-neutral25: #443936;
  -md-ref-palette-neutral30: #504441;
  -md-ref-palette-neutral35: #5C504C;
  -md-ref-palette-neutral40: #685C58;
  -md-ref-palette-neutral50: #827470;
  -md-ref-palette-neutral60: #9D8D8A;
  -md-ref-palette-neutral70: #B8A8A4;
  -md-ref-palette-neutral80: #D4C3BE;
  -md-ref-palette-neutral87: #E8D6D2;
  -md-ref-palette-neutral90: #F1DFDA;
  -md-ref-palette-neutral92: #F7E4E0;
  -md-ref-palette-neutral94: #FCEAE5;
  -md-ref-palette-neutral95: #FFEDE8;
  -md-ref-palette-neutral96: #FFF1ED;
  -md-ref-palette-neutral98: #FFF8F6;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #160C09;
  -md-ref-palette-neutral-variant5: #190E0B;
  -md-ref-palette-neutral-variant6: #1C110D;
  -md-ref-palette-neutral-variant10: #251915;
  -md-ref-palette-neutral-variant12: #291D19;
  -md-ref-palette-neutral-variant15: #30231F;
  -md-ref-palette-neutral-variant17: #342723;
  -md-ref-palette-neutral-variant20: #3B2D29;
  -md-ref-palette-neutral-variant24: #443632;
  -md-ref-palette-neutral-variant25: #473834;
  -md-ref-palette-neutral-variant30: #53433F;
  -md-ref-palette-neutral-variant35: #5F4F4A;
  -md-ref-palette-neutral-variant40: #6C5B56;
  -md-ref-palette-neutral-variant50: #85736E;
  -md-ref-palette-neutral-variant60: #A08C87;
  -md-ref-palette-neutral-variant70: #BCA7A1;
  -md-ref-palette-neutral-variant80: #D8C2BC;
  -md-ref-palette-neutral-variant87: #ECD5CF;
  -md-ref-palette-neutral-variant90: #F5DED8;
  -md-ref-palette-neutral-variant92: #FBE3DD;
  -md-ref-palette-neutral-variant94: #FFE9E4;
  -md-ref-palette-neutral-variant95: #FFEDE8;
  -md-ref-palette-neutral-variant96: #FFF1ED;
  -md-ref-palette-neutral-variant98: #FFF8F6;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #8F4C38;
  -md-sys-color-surface-tint: #8F4C38;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #FFDBD1;
  -md-sys-color-on-primary-container: #723523;
  -md-sys-color-primary-fixed: #FFDBD1;
  -md-sys-color-on-primary-fixed: #3A0B01;
  -md-sys-color-primary-fixed-dim: #FFB5A0;
  -md-sys-color-on-primary-fixed-variant: #723523;
  -md-sys-color-inverse-primary: #FFB5A0;
  -md-sys-color-secondary: #77574E;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #FFDBD1;
  -md-sys-color-on-secondary-container: #5D4037;
  -md-sys-color-secondary-fixed: #FFDBD1;
  -md-sys-color-on-secondary-fixed: #2C150F;
  -md-sys-color-secondary-fixed-dim: #E7BDB2;
  -md-sys-color-on-secondary-fixed-variant: #5D4037;
  -md-sys-color-tertiary: #6C5D2F;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #F5E1A7;
  -md-sys-color-on-tertiary-container: #534619;
  -md-sys-color-tertiary-fixed: #F5E1A7;
  -md-sys-color-on-tertiary-fixed: #231B00;
  -md-sys-color-tertiary-fixed-dim: #D8C58D;
  -md-sys-color-on-tertiary-fixed-variant: #534619;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FFF8F6;
  -md-sys-color-on-background: #231917;
  -md-sys-color-surface: #FFF8F6;
  -md-sys-color-on-surface: #231917;
  -md-sys-color-surface-variant: #F5DED8;
  -md-sys-color-on-surface-variant: #53433F;
  -md-sys-color-inverse-surface: #392E2B;
  -md-sys-color-inverse-on-surface: #FFEDE8;
  -md-sys-color-surface-dim: #E8D6D2;
  -md-sys-color-surface-bright: #FFF8F6;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #FFF1ED;
  -md-sys-color-surface-container: #FCEAE5;
  -md-sys-color-surface-container-high: #F7E4E0;
  -md-sys-color-surface-container-highest: #F1DFDA;
  -md-sys-color-outline: #85736E;
  -md-sys-color-outline-variant: #D8C2BC;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #FF5722;
  -md-sys-color-primary: #FFB5A0;
  -md-sys-color-surface-tint: #FFB5A0;
  -md-sys-color-on-primary: #561F0F;
  -md-sys-color-primary-container: #723523;
  -md-sys-color-on-primary-container: #FFDBD1;
  -md-sys-color-primary-fixed: #FFDBD1;
  -md-sys-color-on-primary-fixed: #3A0B01;
  -md-sys-color-primary-fixed-dim: #FFB5A0;
  -md-sys-color-on-primary-fixed-variant: #723523;
  -md-sys-color-inverse-primary: #8F4C38;
  -md-sys-color-secondary: #E7BDB2;
  -md-sys-color-on-secondary: #442A22;
  -md-sys-color-secondary-container: #5D4037;
  -md-sys-color-on-secondary-container: #FFDBD1;
  -md-sys-color-secondary-fixed: #FFDBD1;
  -md-sys-color-on-secondary-fixed: #2C150F;
  -md-sys-color-secondary-fixed-dim: #E7BDB2;
  -md-sys-color-on-secondary-fixed-variant: #5D4037;
  -md-sys-color-tertiary: #D8C58D;
  -md-sys-color-on-tertiary: #3B2F05;
  -md-sys-color-tertiary-container: #534619;
  -md-sys-color-on-tertiary-container: #F5E1A7;
  -md-sys-color-tertiary-fixed: #F5E1A7;
  -md-sys-color-on-tertiary-fixed: #231B00;
  -md-sys-color-tertiary-fixed-dim: #D8C58D;
  -md-sys-color-on-tertiary-fixed-variant: #534619;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #1A110F;
  -md-sys-color-on-background: #F1DFDA;
  -md-sys-color-surface: #1A110F;
  -md-sys-color-on-surface: #F1DFDA;
  -md-sys-color-surface-variant: #53433F;
  -md-sys-color-on-surface-variant: #D8C2BC;
  -md-sys-color-inverse-surface: #F1DFDA;
  -md-sys-color-inverse-on-surface: #392E2B;
  -md-sys-color-surface-dim: #1A110F;
  -md-sys-color-surface-bright: #423734;
  -md-sys-color-surface-container-lowest: #140C0A;
  -md-sys-color-surface-container-low: #231917;
  -md-sys-color-surface-container: #271D1B;
  -md-sys-color-surface-container-high: #322825;
  -md-sys-color-surface-container-highest: #3D322F;
  -md-sys-color-outline: #A08C87;
  -md-sys-color-outline-variant: #53433F;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
