.root {
  /* Light */
  -md-seed: #FFEB3B;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #110E00;
  -md-ref-palette-primary5: #141100;
  -md-ref-palette-primary6: #171400;
  -md-ref-palette-primary10: #201C00;
  -md-ref-palette-primary12: #242000;
  -md-ref-palette-primary15: #2B2600;
  -md-ref-palette-primary17: #2F2A00;
  -md-ref-palette-primary20: #363100;
  -md-ref-palette-primary24: #403A00;
  -md-ref-palette-primary25: #433C00;
  -md-ref-palette-primary30: #4F4800;
  -md-ref-palette-primary35: #5C5304;
  -md-ref-palette-primary40: #685F12;
  -md-ref-palette-primary50: #82782A;
  -md-ref-palette-primary60: #9D9242;
  -md-ref-palette-primary70: #B8AD59;
  -md-ref-palette-primary80: #D4C871;
  -md-ref-palette-primary87: #E8DC83;
  -md-ref-palette-primary90: #F1E48A;
  -md-ref-palette-primary92: #F7EA8F;
  -md-ref-palette-primary94: #FDF094;
  -md-ref-palette-primary95: #FFF39E;
  -md-ref-palette-primary96: #FFF5B8;
  -md-ref-palette-primary98: #FFF9E8;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #110E00;
  -md-ref-palette-secondary5: #141100;
  -md-ref-palette-secondary6: #161401;
  -md-ref-palette-secondary10: #1F1C05;
  -md-ref-palette-secondary12: #232008;
  -md-ref-palette-secondary15: #29260D;
  -md-ref-palette-secondary17: #2E2A11;
  -md-ref-palette-secondary20: #343117;
  -md-ref-palette-secondary24: #3D3A1F;
  -md-ref-palette-secondary25: #403C21;
  -md-ref-palette-secondary30: #4B472B;
  -md-ref-palette-secondary35: #575336;
  -md-ref-palette-secondary40: #645F41;
  -md-ref-palette-secondary50: #7D7858;
  -md-ref-palette-secondary60: #979170;
  -md-ref-palette-secondary70: #B2AC89;
  -md-ref-palette-secondary80: #CEC7A3;
  -md-ref-palette-secondary87: #E2DBB5;
  -md-ref-palette-secondary90: #EBE3BD;
  -md-ref-palette-secondary92: #F0E9C3;
  -md-ref-palette-secondary94: #F6EFC8;
  -md-ref-palette-secondary95: #F9F1CB;
  -md-ref-palette-secondary96: #FCF4CD;
  -md-ref-palette-secondary98: #FFF9E8;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #001208;
  -md-ref-palette-tertiary5: #00150B;
  -md-ref-palette-tertiary6: #00180D;
  -md-ref-palette-tertiary10: #002113;
  -md-ref-palette-tertiary12: #002516;
  -md-ref-palette-tertiary15: #032C1C;
  -md-ref-palette-tertiary17: #083020;
  -md-ref-palette-tertiary20: #103726;
  -md-ref-palette-tertiary24: #1A402E;
  -md-ref-palette-tertiary25: #1D4230;
  -md-ref-palette-tertiary30: #294E3B;
  -md-ref-palette-tertiary35: #345A47;
  -md-ref-palette-tertiary40: #406652;
  -md-ref-palette-tertiary50: #597F6A;
  -md-ref-palette-tertiary60: #729983;
  -md-ref-palette-tertiary70: #8CB49D;
  -md-ref-palette-tertiary80: #A7D0B7;
  -md-ref-palette-tertiary87: #BAE4CA;
  -md-ref-palette-tertiary90: #C2ECD3;
  -md-ref-palette-tertiary92: #C8F2D8;
  -md-ref-palette-tertiary94: #CDF8DE;
  -md-ref-palette-tertiary95: #D0FBE1;
  -md-ref-palette-tertiary96: #D3FEE3;
  -md-ref-palette-tertiary98: #E8FFEF;
  -md-ref-palette-tertiary99: #F4FFF6;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0F0E07;
  -md-ref-palette-neutral5: #121109;
  -md-ref-palette-neutral6: #15130C;
  -md-ref-palette-neutral10: #1D1C13;
  -md-ref-palette-neutral12: #212017;
  -md-ref-palette-neutral15: #28261D;
  -md-ref-palette-neutral17: #2C2A21;
  -md-ref-palette-neutral20: #323027;
  -md-ref-palette-neutral24: #3B3930;
  -md-ref-palette-neutral25: #3E3B32;
  -md-ref-palette-neutral30: #49473D;
  -md-ref-palette-neutral35: #555248;
  -md-ref-palette-neutral40: #615E54;
  -md-ref-palette-neutral50: #7A776C;
  -md-ref-palette-neutral60: #949185;
  -md-ref-palette-neutral70: #AFAB9F;
  -md-ref-palette-neutral80: #CBC6B9;
  -md-ref-palette-neutral87: #DFDACC;
  -md-ref-palette-neutral90: #E7E2D5;
  -md-ref-palette-neutral92: #EDE8DA;
  -md-ref-palette-neutral94: #F3EEE0;
  -md-ref-palette-neutral95: #F6F0E3;
  -md-ref-palette-neutral96: #F9F3E5;
  -md-ref-palette-neutral98: #FFF9EB;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #100E05;
  -md-ref-palette-neutral-variant5: #131107;
  -md-ref-palette-neutral-variant6: #151409;
  -md-ref-palette-neutral-variant10: #1E1C11;
  -md-ref-palette-neutral-variant12: #222014;
  -md-ref-palette-neutral-variant15: #28261A;
  -md-ref-palette-neutral-variant17: #2C2A1E;
  -md-ref-palette-neutral-variant20: #333124;
  -md-ref-palette-neutral-variant24: #3C392D;
  -md-ref-palette-neutral-variant25: #3E3C2F;
  -md-ref-palette-neutral-variant30: #4A473A;
  -md-ref-palette-neutral-variant35: #555345;
  -md-ref-palette-neutral-variant40: #625F50;
  -md-ref-palette-neutral-variant50: #7B7768;
  -md-ref-palette-neutral-variant60: #959181;
  -md-ref-palette-neutral-variant70: #B0AB9A;
  -md-ref-palette-neutral-variant80: #CBC6B5;
  -md-ref-palette-neutral-variant87: #DFDAC8;
  -md-ref-palette-neutral-variant90: #E8E2D0;
  -md-ref-palette-neutral-variant92: #EEE8D6;
  -md-ref-palette-neutral-variant94: #F4EEDB;
  -md-ref-palette-neutral-variant95: #F6F1DE;
  -md-ref-palette-neutral-variant96: #F9F3E1;
  -md-ref-palette-neutral-variant98: #FFF9E8;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #685F12;
  -md-sys-color-surface-tint: #685F12;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #F1E48A;
  -md-sys-color-on-primary-container: #4F4800;
  -md-sys-color-primary-fixed: #F1E48A;
  -md-sys-color-on-primary-fixed: #201C00;
  -md-sys-color-primary-fixed-dim: #D4C871;
  -md-sys-color-on-primary-fixed-variant: #4F4800;
  -md-sys-color-inverse-primary: #D4C871;
  -md-sys-color-secondary: #645F41;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #EBE3BD;
  -md-sys-color-on-secondary-container: #4B472B;
  -md-sys-color-secondary-fixed: #EBE3BD;
  -md-sys-color-on-secondary-fixed: #1F1C05;
  -md-sys-color-secondary-fixed-dim: #CEC7A3;
  -md-sys-color-on-secondary-fixed-variant: #4B472B;
  -md-sys-color-tertiary: #406652;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #C2ECD3;
  -md-sys-color-on-tertiary-container: #294E3B;
  -md-sys-color-tertiary-fixed: #C2ECD3;
  -md-sys-color-on-tertiary-fixed: #002113;
  -md-sys-color-tertiary-fixed-dim: #A7D0B7;
  -md-sys-color-on-tertiary-fixed-variant: #294E3B;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FFF9EB;
  -md-sys-color-on-background: #1D1C13;
  -md-sys-color-surface: #FFF9EB;
  -md-sys-color-on-surface: #1D1C13;
  -md-sys-color-surface-variant: #E8E2D0;
  -md-sys-color-on-surface-variant: #4A473A;
  -md-sys-color-inverse-surface: #323027;
  -md-sys-color-inverse-on-surface: #F6F0E3;
  -md-sys-color-surface-dim: #DFDACC;
  -md-sys-color-surface-bright: #FFF9EB;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F9F3E5;
  -md-sys-color-surface-container: #F3EEE0;
  -md-sys-color-surface-container-high: #EDE8DA;
  -md-sys-color-surface-container-highest: #E7E2D5;
  -md-sys-color-outline: #7B7768;
  -md-sys-color-outline-variant: #CBC6B5;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #FFEB3B;
  -md-sys-color-primary: #D4C871;
  -md-sys-color-surface-tint: #D4C871;
  -md-sys-color-on-primary: #363100;
  -md-sys-color-primary-container: #4F4800;
  -md-sys-color-on-primary-container: #F1E48A;
  -md-sys-color-primary-fixed: #F1E48A;
  -md-sys-color-on-primary-fixed: #201C00;
  -md-sys-color-primary-fixed-dim: #D4C871;
  -md-sys-color-on-primary-fixed-variant: #4F4800;
  -md-sys-color-inverse-primary: #685F12;
  -md-sys-color-secondary: #CEC7A3;
  -md-sys-color-on-secondary: #343117;
  -md-sys-color-secondary-container: #4B472B;
  -md-sys-color-on-secondary-container: #EBE3BD;
  -md-sys-color-secondary-fixed: #EBE3BD;
  -md-sys-color-on-secondary-fixed: #1F1C05;
  -md-sys-color-secondary-fixed-dim: #CEC7A3;
  -md-sys-color-on-secondary-fixed-variant: #4B472B;
  -md-sys-color-tertiary: #A7D0B7;
  -md-sys-color-on-tertiary: #103726;
  -md-sys-color-tertiary-container: #294E3B;
  -md-sys-color-on-tertiary-container: #C2ECD3;
  -md-sys-color-tertiary-fixed: #C2ECD3;
  -md-sys-color-on-tertiary-fixed: #002113;
  -md-sys-color-tertiary-fixed-dim: #A7D0B7;
  -md-sys-color-on-tertiary-fixed-variant: #294E3B;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #15130C;
  -md-sys-color-on-background: #E7E2D5;
  -md-sys-color-surface: #15130C;
  -md-sys-color-on-surface: #E7E2D5;
  -md-sys-color-surface-variant: #4A473A;
  -md-sys-color-on-surface-variant: #CBC6B5;
  -md-sys-color-inverse-surface: #E7E2D5;
  -md-sys-color-inverse-on-surface: #323027;
  -md-sys-color-surface-dim: #15130C;
  -md-sys-color-surface-bright: #3B3930;
  -md-sys-color-surface-container-lowest: #0F0E07;
  -md-sys-color-surface-container-low: #1D1C13;
  -md-sys-color-surface-container: #212017;
  -md-sys-color-surface-container-high: #2C2A21;
  -md-sys-color-surface-container-highest: #37352C;
  -md-sys-color-outline: #959181;
  -md-sys-color-outline-variant: #4A473A;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
