.root {
  /* Light */
  -md-seed: #3F51B5;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #00073A;
  -md-ref-palette-primary5: #000841;
  -md-ref-palette-primary6: #020B43;
  -md-ref-palette-primary10: #0B154B;
  -md-ref-palette-primary12: #101A4F;
  -md-ref-palette-primary15: #172155;
  -md-ref-palette-primary17: #1C255A;
  -md-ref-palette-primary20: #222C61;
  -md-ref-palette-primary24: #2C356A;
  -md-ref-palette-primary25: #2E376C;
  -md-ref-palette-primary30: #394379;
  -md-ref-palette-primary35: #454F85;
  -md-ref-palette-primary40: #515B92;
  -md-ref-palette-primary50: #6A73AD;
  -md-ref-palette-primary60: #848DC8;
  -md-ref-palette-primary70: #9EA7E5;
  -md-ref-palette-primary80: #BAC3FF;
  -md-ref-palette-primary87: #D3D8FF;
  -md-ref-palette-primary90: #DEE0FF;
  -md-ref-palette-primary92: #E5E6FF;
  -md-ref-palette-primary94: #ECECFF;
  -md-ref-palette-primary95: #F0EFFF;
  -md-ref-palette-primary96: #F4F2FF;
  -md-ref-palette-primary98: #FBF8FF;
  -md-ref-palette-primary99: #FEFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #0A0D1E;
  -md-ref-palette-secondary5: #0D1021;
  -md-ref-palette-secondary6: #0F1223;
  -md-ref-palette-secondary10: #181A2C;
  -md-ref-palette-secondary12: #1C1E30;
  -md-ref-palette-secondary15: #222537;
  -md-ref-palette-secondary17: #26293B;
  -md-ref-palette-secondary20: #2D2F42;
  -md-ref-palette-secondary24: #35384B;
  -md-ref-palette-secondary25: #383A4D;
  -md-ref-palette-secondary30: #434659;
  -md-ref-palette-secondary35: #4F5165;
  -md-ref-palette-secondary40: #5B5D72;
  -md-ref-palette-secondary50: #73768B;
  -md-ref-palette-secondary60: #8D8FA6;
  -md-ref-palette-secondary70: #A8AAC1;
  -md-ref-palette-secondary80: #C3C5DD;
  -md-ref-palette-secondary87: #D7D8F1;
  -md-ref-palette-secondary90: #E0E1F9;
  -md-ref-palette-secondary92: #E5E6FF;
  -md-ref-palette-secondary94: #ECECFF;
  -md-ref-palette-secondary95: #F0EFFF;
  -md-ref-palette-secondary96: #F4F2FF;
  -md-ref-palette-secondary98: #FBF8FF;
  -md-ref-palette-secondary99: #FEFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #1D051A;
  -md-ref-palette-tertiary5: #21071C;
  -md-ref-palette-tertiary6: #24091F;
  -md-ref-palette-tertiary10: #2D1228;
  -md-ref-palette-tertiary12: #32162C;
  -md-ref-palette-tertiary15: #381C32;
  -md-ref-palette-tertiary17: #3D2037;
  -md-ref-palette-tertiary20: #44263D;
  -md-ref-palette-tertiary24: #4E2F47;
  -md-ref-palette-tertiary25: #513149;
  -md-ref-palette-tertiary30: #5D3C55;
  -md-ref-palette-tertiary35: #6A4861;
  -md-ref-palette-tertiary40: #77536D;
  -md-ref-palette-tertiary50: #916C86;
  -md-ref-palette-tertiary60: #AC85A1;
  -md-ref-palette-tertiary70: #C99FBC;
  -md-ref-palette-tertiary80: #E6BAD7;
  -md-ref-palette-tertiary87: #FACDEB;
  -md-ref-palette-tertiary90: #FFD7F1;
  -md-ref-palette-tertiary92: #FFDFF3;
  -md-ref-palette-tertiary94: #FFE7F5;
  -md-ref-palette-tertiary95: #FFECF6;
  -md-ref-palette-tertiary96: #FFF0F7;
  -md-ref-palette-tertiary98: #FFF7F9;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0D0E13;
  -md-ref-palette-neutral5: #101116;
  -md-ref-palette-neutral6: #121318;
  -md-ref-palette-neutral10: #1B1B21;
  -md-ref-palette-neutral12: #1F1F25;
  -md-ref-palette-neutral15: #25252B;
  -md-ref-palette-neutral17: #29292F;
  -md-ref-palette-neutral20: #303036;
  -md-ref-palette-neutral24: #39393F;
  -md-ref-palette-neutral25: #3B3B41;
  -md-ref-palette-neutral30: #46464C;
  -md-ref-palette-neutral35: #525258;
  -md-ref-palette-neutral40: #5E5E64;
  -md-ref-palette-neutral50: #77767D;
  -md-ref-palette-neutral60: #919097;
  -md-ref-palette-neutral70: #ACAAB1;
  -md-ref-palette-neutral80: #C7C5CD;
  -md-ref-palette-neutral87: #DBD9E0;
  -md-ref-palette-neutral90: #E4E1E9;
  -md-ref-palette-neutral92: #E9E7EF;
  -md-ref-palette-neutral94: #EFEDF4;
  -md-ref-palette-neutral95: #F2EFF7;
  -md-ref-palette-neutral96: #F5F2FA;
  -md-ref-palette-neutral98: #FBF8FF;
  -md-ref-palette-neutral99: #FEFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #0D0E15;
  -md-ref-palette-neutral-variant5: #0F1018;
  -md-ref-palette-neutral-variant6: #12131A;
  -md-ref-palette-neutral-variant10: #1A1B23;
  -md-ref-palette-neutral-variant12: #1E1F27;
  -md-ref-palette-neutral-variant15: #24252D;
  -md-ref-palette-neutral-variant17: #292931;
  -md-ref-palette-neutral-variant20: #2F3038;
  -md-ref-palette-neutral-variant24: #383941;
  -md-ref-palette-neutral-variant25: #3A3B43;
  -md-ref-palette-neutral-variant30: #46464F;
  -md-ref-palette-neutral-variant35: #51525B;
  -md-ref-palette-neutral-variant40: #5D5E67;
  -md-ref-palette-neutral-variant50: #767680;
  -md-ref-palette-neutral-variant60: #90909A;
  -md-ref-palette-neutral-variant70: #ABAAB4;
  -md-ref-palette-neutral-variant80: #C7C5D0;
  -md-ref-palette-neutral-variant87: #DAD9E4;
  -md-ref-palette-neutral-variant90: #E3E1EC;
  -md-ref-palette-neutral-variant92: #E9E7F2;
  -md-ref-palette-neutral-variant94: #EEEDF8;
  -md-ref-palette-neutral-variant95: #F1EFFA;
  -md-ref-palette-neutral-variant96: #F4F2FD;
  -md-ref-palette-neutral-variant98: #FBF8FF;
  -md-ref-palette-neutral-variant99: #FEFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #515B92;
  -md-sys-color-surface-tint: #515B92;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #DEE0FF;
  -md-sys-color-on-primary-container: #394379;
  -md-sys-color-primary-fixed: #DEE0FF;
  -md-sys-color-on-primary-fixed: #0B154B;
  -md-sys-color-primary-fixed-dim: #BAC3FF;
  -md-sys-color-on-primary-fixed-variant: #394379;
  -md-sys-color-inverse-primary: #BAC3FF;
  -md-sys-color-secondary: #5B5D72;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #E0E1F9;
  -md-sys-color-on-secondary-container: #434659;
  -md-sys-color-secondary-fixed: #E0E1F9;
  -md-sys-color-on-secondary-fixed: #181A2C;
  -md-sys-color-secondary-fixed-dim: #C3C5DD;
  -md-sys-color-on-secondary-fixed-variant: #434659;
  -md-sys-color-tertiary: #77536D;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #FFD7F1;
  -md-sys-color-on-tertiary-container: #5D3C55;
  -md-sys-color-tertiary-fixed: #FFD7F1;
  -md-sys-color-on-tertiary-fixed: #2D1228;
  -md-sys-color-tertiary-fixed-dim: #E6BAD7;
  -md-sys-color-on-tertiary-fixed-variant: #5D3C55;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FBF8FF;
  -md-sys-color-on-background: #1B1B21;
  -md-sys-color-surface: #FBF8FF;
  -md-sys-color-on-surface: #1B1B21;
  -md-sys-color-surface-variant: #E3E1EC;
  -md-sys-color-on-surface-variant: #46464F;
  -md-sys-color-inverse-surface: #303036;
  -md-sys-color-inverse-on-surface: #F2EFF7;
  -md-sys-color-surface-dim: #DBD9E0;
  -md-sys-color-surface-bright: #FBF8FF;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F5F2FA;
  -md-sys-color-surface-container: #EFEDF4;
  -md-sys-color-surface-container-high: #E9E7EF;
  -md-sys-color-surface-container-highest: #E4E1E9;
  -md-sys-color-outline: #767680;
  -md-sys-color-outline-variant: #C7C5D0;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #3F51B5;
  -md-sys-color-primary: #BAC3FF;
  -md-sys-color-surface-tint: #BAC3FF;
  -md-sys-color-on-primary: #222C61;
  -md-sys-color-primary-container: #394379;
  -md-sys-color-on-primary-container: #DEE0FF;
  -md-sys-color-primary-fixed: #DEE0FF;
  -md-sys-color-on-primary-fixed: #0B154B;
  -md-sys-color-primary-fixed-dim: #BAC3FF;
  -md-sys-color-on-primary-fixed-variant: #394379;
  -md-sys-color-inverse-primary: #515B92;
  -md-sys-color-secondary: #C3C5DD;
  -md-sys-color-on-secondary: #2D2F42;
  -md-sys-color-secondary-container: #434659;
  -md-sys-color-on-secondary-container: #E0E1F9;
  -md-sys-color-secondary-fixed: #E0E1F9;
  -md-sys-color-on-secondary-fixed: #181A2C;
  -md-sys-color-secondary-fixed-dim: #C3C5DD;
  -md-sys-color-on-secondary-fixed-variant: #434659;
  -md-sys-color-tertiary: #E6BAD7;
  -md-sys-color-on-tertiary: #44263D;
  -md-sys-color-tertiary-container: #5D3C55;
  -md-sys-color-on-tertiary-container: #FFD7F1;
  -md-sys-color-tertiary-fixed: #FFD7F1;
  -md-sys-color-on-tertiary-fixed: #2D1228;
  -md-sys-color-tertiary-fixed-dim: #E6BAD7;
  -md-sys-color-on-tertiary-fixed-variant: #5D3C55;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #121318;
  -md-sys-color-on-background: #E4E1E9;
  -md-sys-color-surface: #121318;
  -md-sys-color-on-surface: #E4E1E9;
  -md-sys-color-surface-variant: #46464F;
  -md-sys-color-on-surface-variant: #C7C5D0;
  -md-sys-color-inverse-surface: #E4E1E9;
  -md-sys-color-inverse-on-surface: #303036;
  -md-sys-color-surface-dim: #121318;
  -md-sys-color-surface-bright: #39393F;
  -md-sys-color-surface-container-lowest: #0D0E13;
  -md-sys-color-surface-container-low: #1B1B21;
  -md-sys-color-surface-container: #1F1F25;
  -md-sys-color-surface-container-high: #29292F;
  -md-sys-color-surface-container-highest: #34343A;
  -md-sys-color-outline: #90909A;
  -md-sys-color-outline-variant: #46464F;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
