.root {
  /* Light */
  -md-seed: #E91E63;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #270009;
  -md-ref-palette-primary5: #2C000B;
  -md-ref-palette-primary6: #2F010E;
  -md-ref-palette-primary10: #3B0716;
  -md-ref-palette-primary12: #400B19;
  -md-ref-palette-primary15: #48121F;
  -md-ref-palette-primary17: #4D1624;
  -md-ref-palette-primary20: #561D2A;
  -md-ref-palette-primary24: #612532;
  -md-ref-palette-primary25: #642734;
  -md-ref-palette-primary30: #71333F;
  -md-ref-palette-primary35: #803E4B;
  -md-ref-palette-primary40: #8E4957;
  -md-ref-palette-primary50: #AB616F;
  -md-ref-palette-primary60: #C97A88;
  -md-ref-palette-primary70: #E794A2;
  -md-ref-palette-primary80: #FFB2BE;
  -md-ref-palette-primary87: #FFCED4;
  -md-ref-palette-primary90: #FFD9DE;
  -md-ref-palette-primary92: #FFE1E4;
  -md-ref-palette-primary94: #FFE9EA;
  -md-ref-palette-primary95: #FFECEE;
  -md-ref-palette-primary96: #FFF0F1;
  -md-ref-palette-primary98: #FFF8F7;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #1C080C;
  -md-ref-palette-secondary5: #1F0A0E;
  -md-ref-palette-secondary6: #220D11;
  -md-ref-palette-secondary10: #2C1519;
  -md-ref-palette-secondary12: #30191D;
  -md-ref-palette-secondary15: #371F23;
  -md-ref-palette-secondary17: #3C2327;
  -md-ref-palette-secondary20: #43292D;
  -md-ref-palette-secondary24: #4D3236;
  -md-ref-palette-secondary25: #4F3438;
  -md-ref-palette-secondary30: #5C3F43;
  -md-ref-palette-secondary35: #694A4F;
  -md-ref-palette-secondary40: #75565B;
  -md-ref-palette-secondary50: #906E73;
  -md-ref-palette-secondary60: #AB888C;
  -md-ref-palette-secondary70: #C8A2A7;
  -md-ref-palette-secondary80: #E5BDC2;
  -md-ref-palette-secondary87: #F9D0D5;
  -md-ref-palette-secondary90: #FFD9DE;
  -md-ref-palette-secondary92: #FFE1E4;
  -md-ref-palette-secondary94: #FFE9EA;
  -md-ref-palette-secondary95: #FFECEE;
  -md-ref-palette-secondary96: #FFF0F1;
  -md-ref-palette-secondary98: #FFF8F7;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #190B00;
  -md-ref-palette-tertiary5: #1C0D00;
  -md-ref-palette-tertiary6: #201000;
  -md-ref-palette-tertiary10: #2B1700;
  -md-ref-palette-tertiary12: #311B00;
  -md-ref-palette-tertiary15: #392001;
  -md-ref-palette-tertiary17: #3E2403;
  -md-ref-palette-tertiary20: #452B08;
  -md-ref-palette-tertiary24: #4F3310;
  -md-ref-palette-tertiary25: #523512;
  -md-ref-palette-tertiary30: #5F411C;
  -md-ref-palette-tertiary35: #6C4C27;
  -md-ref-palette-tertiary40: #795831;
  -md-ref-palette-tertiary50: #947047;
  -md-ref-palette-tertiary60: #B0895F;
  -md-ref-palette-tertiary70: #CDA477;
  -md-ref-palette-tertiary80: #EBBF90;
  -md-ref-palette-tertiary87: #FFD2A3;
  -md-ref-palette-tertiary90: #FFDDBA;
  -md-ref-palette-tertiary92: #FFE4C9;
  -md-ref-palette-tertiary94: #FFEAD8;
  -md-ref-palette-tertiary95: #FFEEDF;
  -md-ref-palette-tertiary96: #FFF1E6;
  -md-ref-palette-tertiary98: #FFF8F4;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #140C0D;
  -md-ref-palette-neutral5: #170F10;
  -md-ref-palette-neutral6: #191112;
  -md-ref-palette-neutral10: #22191A;
  -md-ref-palette-neutral12: #261D1E;
  -md-ref-palette-neutral15: #2D2325;
  -md-ref-palette-neutral17: #312829;
  -md-ref-palette-neutral20: #382E2F;
  -md-ref-palette-neutral24: #413738;
  -md-ref-palette-neutral25: #43393A;
  -md-ref-palette-neutral30: #4F4445;
  -md-ref-palette-neutral35: #5B5051;
  -md-ref-palette-neutral40: #685B5D;
  -md-ref-palette-neutral50: #817475;
  -md-ref-palette-neutral60: #9C8D8E;
  -md-ref-palette-neutral70: #B7A8A9;
  -md-ref-palette-neutral80: #D3C3C4;
  -md-ref-palette-neutral87: #E7D6D7;
  -md-ref-palette-neutral90: #F0DEE0;
  -md-ref-palette-neutral92: #F5E4E5;
  -md-ref-palette-neutral94: #FBEAEB;
  -md-ref-palette-neutral95: #FEEDEE;
  -md-ref-palette-neutral96: #FFF0F1;
  -md-ref-palette-neutral98: #FFF8F7;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #160B0D;
  -md-ref-palette-neutral-variant5: #190E10;
  -md-ref-palette-neutral-variant6: #1B1012;
  -md-ref-palette-neutral-variant10: #24191A;
  -md-ref-palette-neutral-variant12: #281C1E;
  -md-ref-palette-neutral-variant15: #2F2324;
  -md-ref-palette-neutral-variant17: #332728;
  -md-ref-palette-neutral-variant20: #3A2D2F;
  -md-ref-palette-neutral-variant24: #443637;
  -md-ref-palette-neutral-variant25: #46383A;
  -md-ref-palette-neutral-variant30: #524345;
  -md-ref-palette-neutral-variant35: #5E4F50;
  -md-ref-palette-neutral-variant40: #6A5A5C;
  -md-ref-palette-neutral-variant50: #847375;
  -md-ref-palette-neutral-variant60: #9F8C8E;
  -md-ref-palette-neutral-variant70: #BAA6A8;
  -md-ref-palette-neutral-variant80: #D6C2C3;
  -md-ref-palette-neutral-variant87: #EBD5D7;
  -md-ref-palette-neutral-variant90: #F3DDDF;
  -md-ref-palette-neutral-variant92: #F9E3E5;
  -md-ref-palette-neutral-variant94: #FFE9EA;
  -md-ref-palette-neutral-variant95: #FFECEE;
  -md-ref-palette-neutral-variant96: #FFF0F1;
  -md-ref-palette-neutral-variant98: #FFF8F7;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #8E4957;
  -md-sys-color-surface-tint: #8E4957;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #FFD9DE;
  -md-sys-color-on-primary-container: #71333F;
  -md-sys-color-primary-fixed: #FFD9DE;
  -md-sys-color-on-primary-fixed: #3B0716;
  -md-sys-color-primary-fixed-dim: #FFB2BE;
  -md-sys-color-on-primary-fixed-variant: #71333F;
  -md-sys-color-inverse-primary: #FFB2BE;
  -md-sys-color-secondary: #75565B;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #FFD9DE;
  -md-sys-color-on-secondary-container: #5C3F43;
  -md-sys-color-secondary-fixed: #FFD9DE;
  -md-sys-color-on-secondary-fixed: #2C1519;
  -md-sys-color-secondary-fixed-dim: #E5BDC2;
  -md-sys-color-on-secondary-fixed-variant: #5C3F43;
  -md-sys-color-tertiary: #795831;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #FFDDBA;
  -md-sys-color-on-tertiary-container: #5F411C;
  -md-sys-color-tertiary-fixed: #FFDDBA;
  -md-sys-color-on-tertiary-fixed: #2B1700;
  -md-sys-color-tertiary-fixed-dim: #EBBF90;
  -md-sys-color-on-tertiary-fixed-variant: #5F411C;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FFF8F7;
  -md-sys-color-on-background: #22191A;
  -md-sys-color-surface: #FFF8F7;
  -md-sys-color-on-surface: #22191A;
  -md-sys-color-surface-variant: #F3DDDF;
  -md-sys-color-on-surface-variant: #524345;
  -md-sys-color-inverse-surface: #382E2F;
  -md-sys-color-inverse-on-surface: #FEEDEE;
  -md-sys-color-surface-dim: #E7D6D7;
  -md-sys-color-surface-bright: #FFF8F7;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #FFF0F1;
  -md-sys-color-surface-container: #FBEAEB;
  -md-sys-color-surface-container-high: #F5E4E5;
  -md-sys-color-surface-container-highest: #F0DEE0;
  -md-sys-color-outline: #847375;
  -md-sys-color-outline-variant: #D6C2C3;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #E91E63;
  -md-sys-color-primary: #FFB2BE;
  -md-sys-color-surface-tint: #FFB2BE;
  -md-sys-color-on-primary: #561D2A;
  -md-sys-color-primary-container: #71333F;
  -md-sys-color-on-primary-container: #FFD9DE;
  -md-sys-color-primary-fixed: #FFD9DE;
  -md-sys-color-on-primary-fixed: #3B0716;
  -md-sys-color-primary-fixed-dim: #FFB2BE;
  -md-sys-color-on-primary-fixed-variant: #71333F;
  -md-sys-color-inverse-primary: #8E4957;
  -md-sys-color-secondary: #E5BDC2;
  -md-sys-color-on-secondary: #43292D;
  -md-sys-color-secondary-container: #5C3F43;
  -md-sys-color-on-secondary-container: #FFD9DE;
  -md-sys-color-secondary-fixed: #FFD9DE;
  -md-sys-color-on-secondary-fixed: #2C1519;
  -md-sys-color-secondary-fixed-dim: #E5BDC2;
  -md-sys-color-on-secondary-fixed-variant: #5C3F43;
  -md-sys-color-tertiary: #EBBF90;
  -md-sys-color-on-tertiary: #452B08;
  -md-sys-color-tertiary-container: #5F411C;
  -md-sys-color-on-tertiary-container: #FFDDBA;
  -md-sys-color-tertiary-fixed: #FFDDBA;
  -md-sys-color-on-tertiary-fixed: #2B1700;
  -md-sys-color-tertiary-fixed-dim: #EBBF90;
  -md-sys-color-on-tertiary-fixed-variant: #5F411C;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #191112;
  -md-sys-color-on-background: #F0DEE0;
  -md-sys-color-surface: #191112;
  -md-sys-color-on-surface: #F0DEE0;
  -md-sys-color-surface-variant: #524345;
  -md-sys-color-on-surface-variant: #D6C2C3;
  -md-sys-color-inverse-surface: #F0DEE0;
  -md-sys-color-inverse-on-surface: #382E2F;
  -md-sys-color-surface-dim: #191112;
  -md-sys-color-surface-bright: #413738;
  -md-sys-color-surface-container-lowest: #140C0D;
  -md-sys-color-surface-container-low: #22191A;
  -md-sys-color-surface-container: #261D1E;
  -md-sys-color-surface-container-high: #312829;
  -md-sys-color-surface-container-highest: #3C3233;
  -md-sys-color-outline: #9F8C8E;
  -md-sys-color-outline-variant: #524345;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
