.root {
  /* Light */
  -md-seed: #4CAF50;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #001202;
  -md-ref-palette-primary5: #001502;
  -md-ref-palette-primary6: #001802;
  -md-ref-palette-primary10: #002204;
  -md-ref-palette-primary12: #002605;
  -md-ref-palette-primary15: #002D07;
  -md-ref-palette-primary17: #023209;
  -md-ref-palette-primary20: #0A390F;
  -md-ref-palette-primary24: #154217;
  -md-ref-palette-primary25: #174419;
  -md-ref-palette-primary30: #235024;
  -md-ref-palette-primary35: #2F5C2F;
  -md-ref-palette-primary40: #3B6939;
  -md-ref-palette-primary50: #538250;
  -md-ref-palette-primary60: #6C9C68;
  -md-ref-palette-primary70: #86B880;
  -md-ref-palette-primary80: #A1D39A;
  -md-ref-palette-primary87: #B4E7AC;
  -md-ref-palette-primary90: #BCF0B4;
  -md-ref-palette-primary92: #C2F6B9;
  -md-ref-palette-primary94: #C7FCBF;
  -md-ref-palette-primary95: #CAFEC2;
  -md-ref-palette-primary96: #D5FFCC;
  -md-ref-palette-primary98: #ECFFE4;
  -md-ref-palette-primary99: #F6FFF0;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #041104;
  -md-ref-palette-secondary5: #061406;
  -md-ref-palette-secondary6: #081708;
  -md-ref-palette-secondary10: #111F0F;
  -md-ref-palette-secondary12: #152313;
  -md-ref-palette-secondary15: #1B2919;
  -md-ref-palette-secondary17: #1F2E1D;
  -md-ref-palette-secondary20: #253423;
  -md-ref-palette-secondary24: #2E3D2B;
  -md-ref-palette-secondary25: #303F2E;
  -md-ref-palette-secondary30: #3B4B38;
  -md-ref-palette-secondary35: #475743;
  -md-ref-palette-secondary40: #52634F;
  -md-ref-palette-secondary50: #6B7C67;
  -md-ref-palette-secondary60: #84967F;
  -md-ref-palette-secondary70: #9EB099;
  -md-ref-palette-secondary80: #BACCB3;
  -md-ref-palette-secondary87: #CDDFC6;
  -md-ref-palette-secondary90: #D5E8CF;
  -md-ref-palette-secondary92: #DBEED4;
  -md-ref-palette-secondary94: #E1F3DA;
  -md-ref-palette-secondary95: #E4F6DC;
  -md-ref-palette-secondary96: #E6F9DF;
  -md-ref-palette-secondary98: #ECFFE5;
  -md-ref-palette-secondary99: #F6FFF0;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #001113;
  -md-ref-palette-tertiary5: #001416;
  -md-ref-palette-tertiary6: #001719;
  -md-ref-palette-tertiary10: #002023;
  -md-ref-palette-tertiary12: #002427;
  -md-ref-palette-tertiary15: #002B2F;
  -md-ref-palette-tertiary17: #002F34;
  -md-ref-palette-tertiary20: #00363B;
  -md-ref-palette-tertiary24: #0C3F44;
  -md-ref-palette-tertiary25: #104247;
  -md-ref-palette-tertiary30: #1F4D52;
  -md-ref-palette-tertiary35: #2C595E;
  -md-ref-palette-tertiary40: #38656A;
  -md-ref-palette-tertiary50: #527E83;
  -md-ref-palette-tertiary60: #6B989E;
  -md-ref-palette-tertiary70: #86B3B8;
  -md-ref-palette-tertiary80: #A0CFD4;
  -md-ref-palette-tertiary87: #B4E2E8;
  -md-ref-palette-tertiary90: #BCEBF0;
  -md-ref-palette-tertiary92: #C2F1F6;
  -md-ref-palette-tertiary94: #C7F6FC;
  -md-ref-palette-tertiary95: #CAF9FF;
  -md-ref-palette-tertiary96: #D5FAFF;
  -md-ref-palette-tertiary98: #EAFDFF;
  -md-ref-palette-tertiary99: #F5FEFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0B0F0A;
  -md-ref-palette-neutral5: #0E120D;
  -md-ref-palette-neutral6: #10140F;
  -md-ref-palette-neutral10: #191D17;
  -md-ref-palette-neutral12: #1D211B;
  -md-ref-palette-neutral15: #232721;
  -md-ref-palette-neutral17: #272B25;
  -md-ref-palette-neutral20: #2D322C;
  -md-ref-palette-neutral24: #363A34;
  -md-ref-palette-neutral25: #383D36;
  -md-ref-palette-neutral30: #444841;
  -md-ref-palette-neutral35: #4F544D;
  -md-ref-palette-neutral40: #5B6059;
  -md-ref-palette-neutral50: #747871;
  -md-ref-palette-neutral60: #8E928A;
  -md-ref-palette-neutral70: #A9ACA4;
  -md-ref-palette-neutral80: #C4C8BF;
  -md-ref-palette-neutral87: #D8DBD2;
  -md-ref-palette-neutral90: #E0E4DB;
  -md-ref-palette-neutral92: #E6E9E0;
  -md-ref-palette-neutral94: #ECEFE6;
  -md-ref-palette-neutral95: #EFF2E9;
  -md-ref-palette-neutral96: #F1F5EC;
  -md-ref-palette-neutral98: #F7FBF1;
  -md-ref-palette-neutral99: #FAFDF4;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #0A1009;
  -md-ref-palette-neutral-variant5: #0D120C;
  -md-ref-palette-neutral-variant6: #0F150E;
  -md-ref-palette-neutral-variant10: #171D16;
  -md-ref-palette-neutral-variant12: #1B211A;
  -md-ref-palette-neutral-variant15: #212720;
  -md-ref-palette-neutral-variant17: #252C24;
  -md-ref-palette-neutral-variant20: #2C322A;
  -md-ref-palette-neutral-variant24: #353B32;
  -md-ref-palette-neutral-variant25: #373D35;
  -md-ref-palette-neutral-variant30: #424940;
  -md-ref-palette-neutral-variant35: #4E544B;
  -md-ref-palette-neutral-variant40: #5A6057;
  -md-ref-palette-neutral-variant50: #72796F;
  -md-ref-palette-neutral-variant60: #8C9388;
  -md-ref-palette-neutral-variant70: #A7ADA2;
  -md-ref-palette-neutral-variant80: #C2C9BD;
  -md-ref-palette-neutral-variant87: #D6DCD0;
  -md-ref-palette-neutral-variant90: #DEE5D8;
  -md-ref-palette-neutral-variant92: #E4EADE;
  -md-ref-palette-neutral-variant94: #EAF0E4;
  -md-ref-palette-neutral-variant95: #ECF3E6;
  -md-ref-palette-neutral-variant96: #EFF6E9;
  -md-ref-palette-neutral-variant98: #F5FBEF;
  -md-ref-palette-neutral-variant99: #F8FEF2;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #3B6939;
  -md-sys-color-surface-tint: #3B6939;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #BCF0B4;
  -md-sys-color-on-primary-container: #235024;
  -md-sys-color-primary-fixed: #BCF0B4;
  -md-sys-color-on-primary-fixed: #002204;
  -md-sys-color-primary-fixed-dim: #A1D39A;
  -md-sys-color-on-primary-fixed-variant: #235024;
  -md-sys-color-inverse-primary: #A1D39A;
  -md-sys-color-secondary: #52634F;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #D5E8CF;
  -md-sys-color-on-secondary-container: #3B4B38;
  -md-sys-color-secondary-fixed: #D5E8CF;
  -md-sys-color-on-secondary-fixed: #111F0F;
  -md-sys-color-secondary-fixed-dim: #BACCB3;
  -md-sys-color-on-secondary-fixed-variant: #3B4B38;
  -md-sys-color-tertiary: #38656A;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #BCEBF0;
  -md-sys-color-on-tertiary-container: #1F4D52;
  -md-sys-color-tertiary-fixed: #BCEBF0;
  -md-sys-color-on-tertiary-fixed: #002023;
  -md-sys-color-tertiary-fixed-dim: #A0CFD4;
  -md-sys-color-on-tertiary-fixed-variant: #1F4D52;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #F7FBF1;
  -md-sys-color-on-background: #191D17;
  -md-sys-color-surface: #F7FBF1;
  -md-sys-color-on-surface: #191D17;
  -md-sys-color-surface-variant: #DEE5D8;
  -md-sys-color-on-surface-variant: #424940;
  -md-sys-color-inverse-surface: #2D322C;
  -md-sys-color-inverse-on-surface: #EFF2E9;
  -md-sys-color-surface-dim: #D8DBD2;
  -md-sys-color-surface-bright: #F7FBF1;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F1F5EC;
  -md-sys-color-surface-container: #ECEFE6;
  -md-sys-color-surface-container-high: #E6E9E0;
  -md-sys-color-surface-container-highest: #E0E4DB;
  -md-sys-color-outline: #72796F;
  -md-sys-color-outline-variant: #C2C9BD;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #4CAF50;
  -md-sys-color-primary: #A1D39A;
  -md-sys-color-surface-tint: #A1D39A;
  -md-sys-color-on-primary: #0A390F;
  -md-sys-color-primary-container: #235024;
  -md-sys-color-on-primary-container: #BCF0B4;
  -md-sys-color-primary-fixed: #BCF0B4;
  -md-sys-color-on-primary-fixed: #002204;
  -md-sys-color-primary-fixed-dim: #A1D39A;
  -md-sys-color-on-primary-fixed-variant: #235024;
  -md-sys-color-inverse-primary: #3B6939;
  -md-sys-color-secondary: #BACCB3;
  -md-sys-color-on-secondary: #253423;
  -md-sys-color-secondary-container: #3B4B38;
  -md-sys-color-on-secondary-container: #D5E8CF;
  -md-sys-color-secondary-fixed: #D5E8CF;
  -md-sys-color-on-secondary-fixed: #111F0F;
  -md-sys-color-secondary-fixed-dim: #BACCB3;
  -md-sys-color-on-secondary-fixed-variant: #3B4B38;
  -md-sys-color-tertiary: #A0CFD4;
  -md-sys-color-on-tertiary: #00363B;
  -md-sys-color-tertiary-container: #1F4D52;
  -md-sys-color-on-tertiary-container: #BCEBF0;
  -md-sys-color-tertiary-fixed: #BCEBF0;
  -md-sys-color-on-tertiary-fixed: #002023;
  -md-sys-color-tertiary-fixed-dim: #A0CFD4;
  -md-sys-color-on-tertiary-fixed-variant: #1F4D52;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #10140F;
  -md-sys-color-on-background: #E0E4DB;
  -md-sys-color-surface: #10140F;
  -md-sys-color-on-surface: #E0E4DB;
  -md-sys-color-surface-variant: #424940;
  -md-sys-color-on-surface-variant: #C2C9BD;
  -md-sys-color-inverse-surface: #E0E4DB;
  -md-sys-color-inverse-on-surface: #2D322C;
  -md-sys-color-surface-dim: #10140F;
  -md-sys-color-surface-bright: #363A34;
  -md-sys-color-surface-container-lowest: #0B0F0A;
  -md-sys-color-surface-container-low: #191D17;
  -md-sys-color-surface-container: #1D211B;
  -md-sys-color-surface-container-high: #272B25;
  -md-sys-color-surface-container-highest: #323630;
  -md-sys-color-outline: #8C9388;
  -md-sys-color-outline-variant: #424940;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
