.root {
  /* Light */
  -md-seed: #6750A4;
  -md-ref-palette-primary0: #000000;
  -md-ref-palette-primary4: #13003A;
  -md-ref-palette-primary5: #15033D;
  -md-ref-palette-primary6: #18053F;
  -md-ref-palette-primary10: #201047;
  -md-ref-palette-primary12: #24144B;
  -md-ref-palette-primary15: #2B1B52;
  -md-ref-palette-primary17: #2F2056;
  -md-ref-palette-primary20: #36275D;
  -md-ref-palette-primary24: #3F3067;
  -md-ref-palette-primary25: #413269;
  -md-ref-palette-primary30: #4D3D75;
  -md-ref-palette-primary35: #594982;
  -md-ref-palette-primary40: #65558F;
  -md-ref-palette-primary50: #7E6EA9;
  -md-ref-palette-primary60: #9887C5;
  -md-ref-palette-primary70: #B3A2E1;
  -md-ref-palette-primary80: #CFBDFE;
  -md-ref-palette-primary87: #E1D3FF;
  -md-ref-palette-primary90: #E9DDFF;
  -md-ref-palette-primary92: #EEE4FF;
  -md-ref-palette-primary94: #F3EAFF;
  -md-ref-palette-primary95: #F6EEFF;
  -md-ref-palette-primary96: #F8F1FF;
  -md-ref-palette-primary98: #FDF7FF;
  -md-ref-palette-primary99: #FFFBFF;
  -md-ref-palette-primary100: #FFFFFF;
  -md-ref-palette-secondary0: #000000;
  -md-ref-palette-secondary4: #100B1D;
  -md-ref-palette-secondary5: #130E20;
  -md-ref-palette-secondary6: #151022;
  -md-ref-palette-secondary10: #1E192B;
  -md-ref-palette-secondary12: #221D2F;
  -md-ref-palette-secondary15: #282336;
  -md-ref-palette-secondary17: #2C273A;
  -md-ref-palette-secondary20: #332D41;
  -md-ref-palette-secondary24: #3C364A;
  -md-ref-palette-secondary25: #3E384C;
  -md-ref-palette-secondary30: #4A4458;
  -md-ref-palette-secondary35: #564F64;
  -md-ref-palette-secondary40: #625B71;
  -md-ref-palette-secondary50: #7B748A;
  -md-ref-palette-secondary60: #958DA4;
  -md-ref-palette-secondary70: #B0A7C0;
  -md-ref-palette-secondary80: #CBC2DB;
  -md-ref-palette-secondary87: #DFD6EF;
  -md-ref-palette-secondary90: #E8DEF8;
  -md-ref-palette-secondary92: #EEE4FE;
  -md-ref-palette-secondary94: #F3EAFF;
  -md-ref-palette-secondary95: #F6EEFF;
  -md-ref-palette-secondary96: #F8F1FF;
  -md-ref-palette-secondary98: #FDF7FF;
  -md-ref-palette-secondary99: #FFFBFF;
  -md-ref-palette-secondary100: #FFFFFF;
  -md-ref-palette-tertiary0: #000000;
  -md-ref-palette-tertiary4: #210410;
  -md-ref-palette-tertiary5: #240612;
  -md-ref-palette-tertiary6: #270815;
  -md-ref-palette-tertiary10: #31101D;
  -md-ref-palette-tertiary12: #361421;
  -md-ref-palette-tertiary15: #3D1B27;
  -md-ref-palette-tertiary17: #421F2C;
  -md-ref-palette-tertiary20: #4A2532;
  -md-ref-palette-tertiary24: #542E3B;
  -md-ref-palette-tertiary25: #56303D;
  -md-ref-palette-tertiary30: #633B48;
  -md-ref-palette-tertiary35: #704654;
  -md-ref-palette-tertiary40: #7E5260;
  -md-ref-palette-tertiary50: #996A79;
  -md-ref-palette-tertiary60: #B58392;
  -md-ref-palette-tertiary70: #D29DAD;
  -md-ref-palette-tertiary80: #EFB8C8;
  -md-ref-palette-tertiary87: #FFCDDB;
  -md-ref-palette-tertiary90: #FFD9E3;
  -md-ref-palette-tertiary92: #FFE1E8;
  -md-ref-palette-tertiary94: #FFE8ED;
  -md-ref-palette-tertiary95: #FFECF0;
  -md-ref-palette-tertiary96: #FFF0F2;
  -md-ref-palette-tertiary98: #FFF8F8;
  -md-ref-palette-tertiary99: #FFFBFF;
  -md-ref-palette-tertiary100: #FFFFFF;
  -md-ref-palette-error0: #000000;
  -md-ref-palette-error4: #280001;
  -md-ref-palette-error5: #2D0001;
  -md-ref-palette-error6: #310001;
  -md-ref-palette-error10: #410002;
  -md-ref-palette-error12: #490002;
  -md-ref-palette-error15: #540003;
  -md-ref-palette-error17: #5C0004;
  -md-ref-palette-error20: #690005;
  -md-ref-palette-error24: #790006;
  -md-ref-palette-error25: #7E0007;
  -md-ref-palette-error30: #93000A;
  -md-ref-palette-error35: #A80710;
  -md-ref-palette-error40: #BA1A1A;
  -md-ref-palette-error50: #DE3730;
  -md-ref-palette-error60: #FF5449;
  -md-ref-palette-error70: #FF897D;
  -md-ref-palette-error80: #FFB4AB;
  -md-ref-palette-error87: #FFCFC9;
  -md-ref-palette-error90: #FFDAD6;
  -md-ref-palette-error92: #FFE2DE;
  -md-ref-palette-error94: #FFE9E6;
  -md-ref-palette-error95: #FFEDEA;
  -md-ref-palette-error96: #FFF0EE;
  -md-ref-palette-error98: #FFF8F7;
  -md-ref-palette-error99: #FFFBFF;
  -md-ref-palette-error100: #FFFFFF;
  -md-ref-palette-neutral0: #000000;
  -md-ref-palette-neutral4: #0F0D13;
  -md-ref-palette-neutral5: #121015;
  -md-ref-palette-neutral6: #141218;
  -md-ref-palette-neutral10: #1D1B20;
  -md-ref-palette-neutral12: #211F24;
  -md-ref-palette-neutral15: #27252B;
  -md-ref-palette-neutral17: #2B292F;
  -md-ref-palette-neutral20: #322F35;
  -md-ref-palette-neutral24: #3B383E;
  -md-ref-palette-neutral25: #3D3A41;
  -md-ref-palette-neutral30: #48464C;
  -md-ref-palette-neutral35: #545158;
  -md-ref-palette-neutral40: #605D64;
  -md-ref-palette-neutral50: #79767D;
  -md-ref-palette-neutral60: #938F96;
  -md-ref-palette-neutral70: #AEA9B1;
  -md-ref-palette-neutral80: #CAC5CC;
  -md-ref-palette-neutral87: #DED8E0;
  -md-ref-palette-neutral90: #E6E0E9;
  -md-ref-palette-neutral92: #ECE6EE;
  -md-ref-palette-neutral94: #F2ECF4;
  -md-ref-palette-neutral95: #F5EFF7;
  -md-ref-palette-neutral96: #F8F2FA;
  -md-ref-palette-neutral98: #FDF7FF;
  -md-ref-palette-neutral99: #FFFBFF;
  -md-ref-palette-neutral100: #FFFFFF;
  -md-ref-palette-neutral-variant0: #000000;
  -md-ref-palette-neutral-variant4: #0F0D14;
  -md-ref-palette-neutral-variant5: #121017;
  -md-ref-palette-neutral-variant6: #14121A;
  -md-ref-palette-neutral-variant10: #1D1A22;
  -md-ref-palette-neutral-variant12: #211E26;
  -md-ref-palette-neutral-variant15: #27242D;
  -md-ref-palette-neutral-variant17: #2B2931;
  -md-ref-palette-neutral-variant20: #322F38;
  -md-ref-palette-neutral-variant24: #3B3840;
  -md-ref-palette-neutral-variant25: #3D3A43;
  -md-ref-palette-neutral-variant30: #49454E;
  -md-ref-palette-neutral-variant35: #54515A;
  -md-ref-palette-neutral-variant40: #615D66;
  -md-ref-palette-neutral-variant50: #7A757F;
  -md-ref-palette-neutral-variant60: #948F99;
  -md-ref-palette-neutral-variant70: #AFA9B4;
  -md-ref-palette-neutral-variant80: #CAC4CF;
  -md-ref-palette-neutral-variant87: #DED8E3;
  -md-ref-palette-neutral-variant90: #E7E0EB;
  -md-ref-palette-neutral-variant92: #ECE6F1;
  -md-ref-palette-neutral-variant94: #F2EBF7;
  -md-ref-palette-neutral-variant95: #F5EEFA;
  -md-ref-palette-neutral-variant96: #F8F1FD;
  -md-ref-palette-neutral-variant98: #FDF7FF;
  -md-ref-palette-neutral-variant99: #FFFBFF;
  -md-ref-palette-neutral-variant100: #FFFFFF;

  -md-sys-color-primary: #65558F;
  -md-sys-color-surface-tint: #65558F;
  -md-sys-color-on-primary: #FFFFFF;
  -md-sys-color-primary-container: #E9DDFF;
  -md-sys-color-on-primary-container: #4D3D75;
  -md-sys-color-primary-fixed: #E9DDFF;
  -md-sys-color-on-primary-fixed: #201047;
  -md-sys-color-primary-fixed-dim: #CFBDFE;
  -md-sys-color-on-primary-fixed-variant: #4D3D75;
  -md-sys-color-inverse-primary: #CFBDFE;
  -md-sys-color-secondary: #625B71;
  -md-sys-color-on-secondary: #FFFFFF;
  -md-sys-color-secondary-container: #E8DEF8;
  -md-sys-color-on-secondary-container: #4A4458;
  -md-sys-color-secondary-fixed: #E8DEF8;
  -md-sys-color-on-secondary-fixed: #1E192B;
  -md-sys-color-secondary-fixed-dim: #CBC2DB;
  -md-sys-color-on-secondary-fixed-variant: #4A4458;
  -md-sys-color-tertiary: #7E5260;
  -md-sys-color-on-tertiary: #FFFFFF;
  -md-sys-color-tertiary-container: #FFD9E3;
  -md-sys-color-on-tertiary-container: #633B48;
  -md-sys-color-tertiary-fixed: #FFD9E3;
  -md-sys-color-on-tertiary-fixed: #31101D;
  -md-sys-color-tertiary-fixed-dim: #EFB8C8;
  -md-sys-color-on-tertiary-fixed-variant: #633B48;
  -md-sys-color-error: #BA1A1A;
  -md-sys-color-on-error: #FFFFFF;
  -md-sys-color-error-container: #FFDAD6;
  -md-sys-color-on-error-container: #93000A;
  -md-sys-color-background: #FDF7FF;
  -md-sys-color-on-background: #1D1B20;
  -md-sys-color-surface: #FDF7FF;
  -md-sys-color-on-surface: #1D1B20;
  -md-sys-color-surface-variant: #E7E0EB;
  -md-sys-color-on-surface-variant: #49454E;
  -md-sys-color-inverse-surface: #322F35;
  -md-sys-color-inverse-on-surface: #F5EFF7;
  -md-sys-color-surface-dim: #DED8E0;
  -md-sys-color-surface-bright: #FDF7FF;
  -md-sys-color-surface-container-lowest: #FFFFFF;
  -md-sys-color-surface-container-low: #F8F2FA;
  -md-sys-color-surface-container: #F2ECF4;
  -md-sys-color-surface-container-high: #ECE6EE;
  -md-sys-color-surface-container-highest: #E6E0E9;
  -md-sys-color-outline: #7A757F;
  -md-sys-color-outline-variant: #CAC4CF;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #006E1C;
  -md-sys-color-on-success: #FFFFFF;
  -md-sys-color-success-container: #94F990;
  -md-sys-color-on-success-container: #005313;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #CE6700;
  -md-sys-color-on-warn: #FFFFFF;
  -md-sys-color-warn-container: #FFDCC6;
  -md-sys-color-on-warn-container: #723600;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #00639A;
  -md-sys-color-on-info: #FFFFFF;
  -md-sys-color-info-container: #CEE5FF;
  -md-sys-color-on-info-container: #004A75;
}

.root:dark {
  /* Dark */
  -md-seed: #6750A4;
  -md-sys-color-primary: #CFBDFE;
  -md-sys-color-surface-tint: #CFBDFE;
  -md-sys-color-on-primary: #36275D;
  -md-sys-color-primary-container: #4D3D75;
  -md-sys-color-on-primary-container: #E9DDFF;
  -md-sys-color-primary-fixed: #E9DDFF;
  -md-sys-color-on-primary-fixed: #201047;
  -md-sys-color-primary-fixed-dim: #CFBDFE;
  -md-sys-color-on-primary-fixed-variant: #4D3D75;
  -md-sys-color-inverse-primary: #65558F;
  -md-sys-color-secondary: #CBC2DB;
  -md-sys-color-on-secondary: #332D41;
  -md-sys-color-secondary-container: #4A4458;
  -md-sys-color-on-secondary-container: #E8DEF8;
  -md-sys-color-secondary-fixed: #E8DEF8;
  -md-sys-color-on-secondary-fixed: #1E192B;
  -md-sys-color-secondary-fixed-dim: #CBC2DB;
  -md-sys-color-on-secondary-fixed-variant: #4A4458;
  -md-sys-color-tertiary: #EFB8C8;
  -md-sys-color-on-tertiary: #4A2532;
  -md-sys-color-tertiary-container: #633B48;
  -md-sys-color-on-tertiary-container: #FFD9E3;
  -md-sys-color-tertiary-fixed: #FFD9E3;
  -md-sys-color-on-tertiary-fixed: #31101D;
  -md-sys-color-tertiary-fixed-dim: #EFB8C8;
  -md-sys-color-on-tertiary-fixed-variant: #633B48;
  -md-sys-color-error: #FFB4AB;
  -md-sys-color-on-error: #690005;
  -md-sys-color-error-container: #93000A;
  -md-sys-color-on-error-container: #FFDAD6;
  -md-sys-color-background: #141218;
  -md-sys-color-on-background: #E6E0E9;
  -md-sys-color-surface: #141218;
  -md-sys-color-on-surface: #E6E0E9;
  -md-sys-color-surface-variant: #49454E;
  -md-sys-color-on-surface-variant: #CAC4CF;
  -md-sys-color-inverse-surface: #E6E0E9;
  -md-sys-color-inverse-on-surface: #322F35;
  -md-sys-color-surface-dim: #141218;
  -md-sys-color-surface-bright: #3B383E;
  -md-sys-color-surface-container-lowest: #0F0D13;
  -md-sys-color-surface-container-low: #1D1B20;
  -md-sys-color-surface-container: #211F24;
  -md-sys-color-surface-container-high: #2B292F;
  -md-sys-color-surface-container-highest: #36343A;
  -md-sys-color-outline: #948F99;
  -md-sys-color-outline-variant: #49454E;
  -md-sys-color-shadow: #000000;
  -md-sys-color-scrim: #000000;
  /* Custom */
  -md-seed-success: #4CAF50;
  -md-sys-color-success: #78DC77;
  -md-sys-color-on-success: #00390A;
  -md-sys-color-success-container: #005313;
  -md-sys-color-on-success-container: #94F990;
  -md-seed-warn: #F57C00;
  -md-sys-color-warn: #FFB786;
  -md-sys-color-on-warn: #502400;
  -md-sys-color-warn-container: #723600;
  -md-sys-color-on-warn-container: #FFDCC6;
  -md-seed-info: #0288D1;
  -md-sys-color-info: #96CCFF;
  -md-sys-color-on-info: #003353;
  -md-sys-color-info-container: #004A75;
  -md-sys-color-on-info-container: #CEE5FF;
}
