// @formatter:off
@forward 'tokens/theme' with (
  $variant: 'light' !default,
  $palette: (
    --md-source: #6750A4,
    // Primary
    '--md-ref-palette-primary0': #000000,
    '--md-ref-palette-primary10': #21005D,
    '--md-ref-palette-primary20': #381E72,
    '--md-ref-palette-primary30': #4F378B,
    '--md-ref-palette-primary40': #6750A4,
    '--md-ref-palette-primary50': #7F67BE,
    '--md-ref-palette-primary60': #9A82DB,
    '--md-ref-palette-primary70': #B69DF8,
    '--md-ref-palette-primary80': #D0BCFF,
    '--md-ref-palette-primary90': #EADDFF,
    '--md-ref-palette-primary95': #F6EDFF,
    '--md-ref-palette-primary99': #FFFBFE,
    '--md-ref-palette-primary100': #FFFFFF,
    // Secondary
    '--md-ref-palette-secondary0': #000000,
    '--md-ref-palette-secondary10': #1D192B,
    '--md-ref-palette-secondary20': #332D41,
    '--md-ref-palette-secondary30': #4A4458,
    '--md-ref-palette-secondary40': #625B71,
    '--md-ref-palette-secondary50': #7A7289,
    '--md-ref-palette-secondary60': #958DA5,
    '--md-ref-palette-secondary70': #B0A7C0,
    '--md-ref-palette-secondary80': #CCC2DC,
    '--md-ref-palette-secondary90': #E8DEF8,
    '--md-ref-palette-secondary95': #F6EDFF,
    '--md-ref-palette-secondary99': #FFFBFE,
    '--md-ref-palette-secondary100': #FFFFFF,
    // Tertiary
    '--md-ref-palette-tertiary0': #000000,
    '--md-ref-palette-tertiary10': #31111D,
    '--md-ref-palette-tertiary20': #492532,
    '--md-ref-palette-tertiary30': #633B48,
    '--md-ref-palette-tertiary40': #7D5260,
    '--md-ref-palette-tertiary50': #986977,
    '--md-ref-palette-tertiary60': #B58392,
    '--md-ref-palette-tertiary70': #D29DAC,
    '--md-ref-palette-tertiary80': #EFB8C8,
    '--md-ref-palette-tertiary90': #FFD8E4,
    '--md-ref-palette-tertiary95': #FFECF1,
    '--md-ref-palette-tertiary99': #FFFBFA,
    '--md-ref-palette-tertiary100': #FFFFFF,
    // Error
    '--md-ref-palette-error0': #000000,
    '--md-ref-palette-error10': #410E0B,
    '--md-ref-palette-error20': #601410,
    '--md-ref-palette-error30': #8C1D18,
    '--md-ref-palette-error40': #B3261E,
    '--md-ref-palette-error50': #DC362E,
    '--md-ref-palette-error60': #E46962,
    '--md-ref-palette-error70': #EC928E,
    '--md-ref-palette-error80': #F2B8B5,
    '--md-ref-palette-error90': #F9DEDC,
    '--md-ref-palette-error95': #FCEEEE,
    '--md-ref-palette-error99': #FFFBF9,
    '--md-ref-palette-error100': #FFFFFF,
    // Neutral
    '--md-ref-palette-neutral0': #000000,
    '--md-ref-palette-neutral10': #1C1B1F,
    '--md-ref-palette-neutral20': #313033,
    '--md-ref-palette-neutral30': #484649,
    '--md-ref-palette-neutral40': #605D62,
    '--md-ref-palette-neutral50': #787579,
    '--md-ref-palette-neutral60': #939094,
    '--md-ref-palette-neutral70': #AEAAAE,
    '--md-ref-palette-neutral80': #C9C5CA,
    '--md-ref-palette-neutral90': #E6E1E5,
    '--md-ref-palette-neutral95': #F4EFF4,
    '--md-ref-palette-neutral99': #FFFBFE,
    '--md-ref-palette-neutral100': #FFFFFF,
    // Neutral Variant
    '--md-ref-palette-neutral-variant0': #000000,
    '--md-ref-palette-neutral-variant10': #1D1A22,
    '--md-ref-palette-neutral-variant20': #322F37,
    '--md-ref-palette-neutral-variant30': #49454F,
    '--md-ref-palette-neutral-variant40': #605D66,
    '--md-ref-palette-neutral-variant50': #79747E,
    '--md-ref-palette-neutral-variant60': #938F99,
    '--md-ref-palette-neutral-variant70': #AEA9B4,
    '--md-ref-palette-neutral-variant80': #CAC4D0,
    '--md-ref-palette-neutral-variant90': #E7E0EC,
    '--md-ref-palette-neutral-variant95': #F5EEFA,
    '--md-ref-palette-neutral-variant99': #FFFBFE,
    '--md-ref-palette-neutral-variant100': #FFFFFF,
  ),
);
@use 'tokens/theme' as Theme;

@include Theme.ExposeTokens();
@import '../../fonts/Fonts.css';
@import 'components/components';

